<% layout('layout/boilerplate.ejs') %>

<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
    Über uns und Schlusswort
</h1>

<div class="test">
    <div class="container default-bg-color px-5 mb-0 d-flex flex-column flex-md-row align-items-start justify-content-between">
        <!-- Über uns -->
        <div class="me-md-3 mb-3 mb-md-0" style="flex: 1;">
            <h1 class="headersm color-scheme-text centered-text my-3">Über uns</h1>
            <p>Wir sind Tom Reißmann, Jennifer Altman, Lynn Werner und Lilian Donner - vier Studierende der RUB, die gemeinsam im Wintersemester 2024/25 an dem Forschungsseminar
                “Digitale Methoden und kritische Datenforschung” teilgenommen haben. Zwei von uns (Lili und Lynn) sind Studentinnen der Sozialwissenschaft. Wir haben uns im vorangegangenen Semester
                inhaltlich mit dem Thema Outdoor-Kunst auf dem Campus beschäftigt und dies mit dem Konzept der Produktion von Raum von Lefebvre verknüpft. In diesem Semester sind Tom und Jenny
                als Studierende der Angewandten Informatik dazugekommen, die uns bei der Untersuchung unseres Themas und der Darstellung der Forschungsergebnisse in Form dieser Data Story unterstützen.</p>
                <p>Unsere Dozierenden sind Prof. Dr. Estrid Soerensen und Mace Ojala, bei denen wir uns genauso bedanken wollen, wie bei unseren Interviewpartner*innen bei der Stadt Bochum, den Kunstsammlungen der RUB,
                dem Musischen Zentrum, dem Dezernat 5 (Bau- und Gebäudemanagement), der Denkmalpflege des LWL und dem kunstgeschichtlichen Institut.</p>
        </div>

        <!-- Schlusswort -->
        <div style="flex: 1;" class="ps-md-3 border-start border-2">
            <h1 class="headersm color-scheme-text centered-text my-3">Schlusswort</h1>
            <p>Unsere Data Story hat durch verschiedene Ebenen der Kunst auf dem Campus geführt.
                Anfangs wurde in Form der Bildergalerie betrachtet, welche verschiedenen Arten von Kunst und anderen Verschönerungen alltäglich auf dem Campus zu entdecken sind.
                Im Anschluss an diese Alltagsperspektive haben wir uns vertiefend mit der Kunst am Bau auseinandergesetzt. Mithilfe der Übersicht, die uns von Dezernat 5 zur Verfügung gestellt wurde,
                sind verschiedene Visualisierungen entstanden, die einen Überblick über bestimmte Merkmale der Kunstwerke ermöglichen, diese jedoch nur im Aggregat betrachten.
                Schließlich sind wir noch tiefer in die Geschichten hinter den Kunstwerken eingetaucht und haben dabei mehr über Themen wie Wandel, Aneignung und Identität gelernt.
                Diese Einblicke haben sich uns erst durch die spannenden und aufschlussreichen Gespräche mit unseren Interviewpartner*innen eröffnet.</p>
            <p>Was immer wieder deutlich wird, ist, dass die öffentliche Kunst auf dem Campus der RUB verschiedene Akteure und Perspektiven zusammenführt. Sicherheitsbedenken und bautechnische Fragestellungen
                treffen auf wissenschaftliche Interessen und Aneignung und Veränderung seitens der Campus-Nutzenden. Selbstautorisierte treffen auf institutionalisierte Kunst-Räume, wissenschaftliche auf
                alltägliche Perspektiven. Diese Beobachtungen zeigen, dass bei der Produktion öffentlicher (Kunst-)Räume verschiedene Ebenen der Wahrnehmung, Planung und Aneignung miteinander interagieren,
                sich gegenseitig beeinflussen und auch in Konflikt miteinander stehen können, wie in Lefebvres Theorie der Produktion von Raum beschrieben.</p>
            <p>Die verschiedenen Teile unserer Data Story machen jedoch nicht nur diese unterschiedlichen Blickwinkel auf die Kunst am Bau auf, sondern zeichnen auch unseren eigenen Forschungsprozess nach.</p>
        </div>
    </div>
</div>


