<% layout('layout/boilerplate.ejs') %>

<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
  Schlussworte, Informationen zum Projekt und Über uns
</h1>

<div class="test">
  <div class="container default-bg-color px-5">
    <h1 class="color-scheme-text text-center fw-bolder pt-5">Schlussworte</h1>
    <div class="content-container">
      <div class="text-container">
        <p>
          Unsere Data Story hat durch verschiedene Ebenen der Kunst auf dem
          Campus geführt. Anfangs wurde in Form der Bildergalerie betrachtet,
          welche verschiedenen Arten von Kunst und anderen Verschönerungen
          alltäglich auf dem Campus zu entdecken sind. Im Anschluss an diese
          Alltagsperspektive haben wir uns vertiefend mit der Kunst am Bau
          auseinandergesetzt. Mithilfe der Übersicht, die uns von Dezernat 5 zur
          Verfügung gestellt wurde, sind verschiedene Visualisierungen
          entstanden, die einen Überblick über bestimmte Merkmale der Kunstwerke
          ermöglichen, diese jedoch nur im Aggregat betrachten. Schließlich sind
          wir noch tiefer in die Geschichten hinter den Kunstwerken eingetaucht
          und haben dabei mehr über Themen wie Wandel, Aneignung und Identität
          gelernt. Diese Einblicke haben sich uns erst durch die spannenden und
          aufschlussreichen Gespräche mit unseren Interviewpartner*innen
          eröffnet.
        </p>
        <p>
          Was immer wieder deutlich wird, ist, dass die öffentliche Kunst auf
          dem Campus der RUB verschiedene Akteure und Perspektiven
          zusammenführt. Sicherheitsbedenken und bautechnische Fragestellungen
          treffen auf wissenschaftliche Interessen und Aneignung und Veränderung
          seitens der Campus-Nutzenden. Selbstautorisierte treffen auf
          institutionalisierte Kunst-Räume, wissenschaftliche auf alltägliche
          Perspektiven. Diese Beobachtungen zeigen, dass bei der Produktion
          öffentlicher (Kunst-)Räume verschiedene Ebenen der Wahrnehmung,
          Planung und Aneignung miteinander interagieren, sich gegenseitig
          beeinflussen und auch in Konflikt miteinander stehen können, wie in
          Lefebvres Theorie der Produktion von Raum beschrieben.
        </p>
        <p>
          Die verschiedenen Teile unserer Data Story machen jedoch nicht nur
          diese unterschiedlichen Blickwinkel auf die Kunst am Bau auf, sondern
          zeichnen auch unseren eigenen Forschungsprozess nach.
        </p>
      </div>
    </div>

    <hr class="color-scheme-border" />

    <h1 class="color-scheme-text text-center fw-bolder pt-5">
      Zeitstrahl: Ablauf des Projektes
    </h1>
    <div class="row">
      <div class="col-lg-1 d-none d-lg-block">
        <img
          src="Icons/zeitstrahl.png"
          class="img-fluid h-100 arrow-container"
          alt="zeitstrahl"
        />
      </div>
      <div class="col-12 col-lg-11">
        <div class="content-container">
          <!-- Phase 1 -->
          <div class="phase-section">
            <h2 class="headermd color-scheme-text">
              Phase 1: April - Juli 2024 - Zugang zum Thema und Forschungsfeld
            </h2>
            <div class="split-content">
              <div class="text-section">
                <p>
                  In der ersten Phase unseres Projektes haben wir (Lili und
                  Lynn) zunächst das Thema der öffentlichen Kunst auf dem Campus
                  ausgewählt und uns einen ersten praktischen und konzeptuellen
                  Zugang zum Forschungsfeld verschafft.
                </p>
                <p>
                  Folgende Methoden haben wir in dieser Phase des Projektes
                  verwendet:
                </p>
                <h3 class="headersm color-scheme-text">
                  Data Walks und Beobachtungsprotokolle:
                </h3>
                <p>
                  Data Walks sind eine Methode, bei der eine bestimmte
                  Forschungsumgebung mit einem besonderen Fokus auf digitale
                  Daten zu Fuß erkundet wird. Diese Methode ermöglicht es den
                  Teilnehmenden, eigene Erfahrungen innerhalb dieser Umgebung in
                  Verbindung zu strukturellen Themen zu bringen und auch Daten
                  zu erzeugen, die dominanten Diskursen über den erkundeten Raum
                  widersprechen (Prost et al., 2023, S. 2438). Im Zuge des Data
                  Walks entstandene Karten, Foto-, Audio- und Videoaufnahmen
                  können dabei als “boundary objects” (ebd.) dienen.
                </p>
                <p>
                  Bei unserem ersten Data Walk haben wir zunächst nach
                  verschiedenen Kunstwerken auf dem Campus gesucht und haben
                  viele Fotos gemacht, die teils in die Bildergalerie auf der
                  Startseite eingeflossen sind. Zudem haben wir
                  Beobachtungsprotokolle geschrieben, in denen wir unsere
                  Eindrücke und Fragen festgehalten haben. Im weiteren Verlauf
                  der ersten Phase des Projektes haben wir auch weitere Data
                  Walks durchgeführt und beispielsweise die Graffiti-Freifläche
                  besucht.
                </p>
              </div>
              <div class="image-section">
                <img src="Images/kartedatawalk.png" alt="Karte und Fotos" />
                <p class="mt-0 description-text lighter-colored-text">
                  Eine Karte mit eingezeichneter Laufroute, Fotos und
                  Schlagwörtern zu unseren Eindrücken, die wir nach unserem
                  ersten Data Walk erstellt haben.
                </p>
              </div>
            </div>
          </div>
          <h3 class="headersm color-scheme-text">
            Lektüre konzeptueller und empirischer Literatur:
          </h3>
          <p>
            Außerdem haben wir angefangen, wissenschaftliche Literatur zu
            unserem Themenbereich zu lesen, um relevante empirische und
            konzeptuelle Bezüge zu unserem Projekt auszumachen und eine
            Fragestellung zu entwickeln. Die empirische Literatur, die wir
            gesichtet haben, setzt sich beispielsweise mit der Funktion
            öffentlicher Kunst an Universitäten auseinander (vgl. Grenier, 2009;
            Hards/Vaughan/Williams, 2014; Pedrabissi, 2015) oder betrachtet
            Graffiti als eine Form der Aneignung öffentlichen Raumes (vgl.
            Erman, 2023). Auf der anderen Seite haben wir uns auch auf
            konzeptueller Ebene mit öffentlichem Raum und Raumproduktion (vgl.
            Zieleniec, 2018) sowie der Rolle von Kunst im öffentlichen Raum
            (vgl. Helmstetter, 2022; Kwon, 2002; Lewitzky, 2005)
            auseinandergesetzt.
          </p>
          <p>
            Am Ende dieser ersten Phase des Projektes stand die Fragestellung,
            wie öffentliche Kunsträume an der RUB entstehen, welche wir mit dem
            Konzept der Raumproduktion von Lefebvre verbinden wollten. Dies war
            der Ausgangspunkt für die zweite Phase des Projektes, die
            Datenerhebung.
          </p>
          <!-- Phase 2 -->
          <div class="phase-section">
            <h2 class="headermd color-scheme-text">
              Phase 2: August - Oktober 2024 – Planung und Durchführung der
              Datenerhebung
            </h2>
            <div class="text-section">
              <p>
                In der zweiten Phase unseres Projektes haben wir dann nach
                passenden Formen der Datenerhebung für unser Projekt gesucht. Um
                mehr über die Prozesse hinter der Errichtung, Erhaltung und
                Veränderung der öffentlichen Kunst auf dem Campus zu erfahren,
                erschien es uns am sinnvollsten mit verschiedenen Expert*innen
                auf diesem Gebiet zu sprechen.
              </p>
              <p>
                Folgende Methode haben wir in dieser Phase des Projektes
                verwendet:
              </p>
              <h3 class="headersm color-scheme-text">
                Leitfadengestützte Expert*inneninterviews:
              </h3>
              <p>
                Bei Expert*inneninterviews geht es in der Regel darum,
                spezifisches Rollenwissen der Interviewten über ihren
                persönlichen Arbeitsbereich zu erfahren. Dafür bieten sich
                leitfadengestützte Interviews an, die gleichzeitig im Sinne des
                eigenen Forschungsinteresses strukturiert sind, jedoch auch
                offene Fragen und Erzählaufforderungen enthalten (Helfferich,
                2014, S. 570ff).
              </p>
              <p>
                Zunächst haben wir für uns relevante Gesprächspartner*innen
                identifiziert und diese per E-Mail kontaktiert. Im Zeitraum vom
                05.09. bis zum 17.10. haben wir dann fünf Gespräche mit
                insgesamt acht Personen geführt und außerdem eine schriftliche
                Auskunft von einer Person erhalten. Die Gespräche waren zwischen
                25 und 75 Minuten lang und wurden von uns mit dem Einverständnis
                der Interviewten aufgezeichnet. Die Interviews wurden anhand von
                zuvor entwickelten individuellen Leitfäden geführt, welche vor
                allem darauf ausgerichtet waren, zu erfahren, welche Rolle die
                öffentliche Kunst auf dem Campus für die Interviewten in ihrer
                jeweiligen Tätigkeit spielt und welche Aufgaben und Perspektiven
                sie diesbezüglich haben.
              </p>
            </div>
          </div>

          <!-- Phase 3 -->
          <div class="phase-section">
            <h2 class="headermd color-scheme-text">
              Phase 3: Oktober 2024 – Januar 2025 - Datenauswertung und
              Entwicklung der Data Story
            </h2>
            <div class="split-content">
              <div class="text-section pt-5">
                <p>
                  In der dritten Phase unseres Projektes ging es dann darum, die
                  erhobenen Daten auszuwerten und in Form einer Data Story
                  darzustellen. In dieser Phase haben wir zu viert mit Tom und
                  Jenny zusammengearbeitet.
                </p>
                <p>
                  Folgende Methoden haben wir in dieser Phase des Projektes
                  verwendet:
                </p>
              </div>
              <div class="image-section">
                <img src="Images/Codes.png" class="mx-auto d-block" alt="Codesystem" />
                <p class="mt-0 description-text lighter-colored-text text-center">
                  Ein Einblick in einige Übercodes aus unserem Code-System in
                  MAXQDA.
                </p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="headersm color-scheme-text">
          Visualisierung quantitativer Daten:
        </h3>
        <p>
          Die von Dezernat 5 bereitgestellte Übersicht haben wir in Form einer
          PDF erhalten und zunächst in eine Excel-Tabelle überführt.
          Anschließend ging es darum, interessante Visualisierungen aus den
          vorhandenen Daten zu entwickeln. Dafür haben wir das kostenlose
          Online-Tool Flourish verwendet, mit dem sich schnell unterschiedliche
          Visualisierungen umsetzen lassen. Wir sind explorativ vorgegangen und
          haben verschiedene Visualisierungsformen ausprobiert. Dafür haben wir
          teils auch selbst Kategorisierungen der Daten vorgenommen, z.B. bei
          den Materialien und den Standorten der Kunstwerke, die wir zu Gruppen
          zusammengefasst haben.
        </p>
        <h3 class="headersm color-scheme-text">
          Codierung und Analyse von Interview-Transkripten:
        </h3>
        <p>
          Unser Interviewmaterial haben wir transkribiert und anschließend
          mithilfe des Programmes MAXQDA analysiert. Dabei haben wir mit offenem
          Codieren gearbeitet (vgl. Breidenstein, 2013, S. 145ff). Wir haben die
          Interviews genau gelesen und unterschiedliche inhaltliche Codes
          vergeben. Dabei haben wir (Lili und Lynn) versucht, ein gemeinsames
          Code-System über alle Interviews zu entwickeln. Die Codes zielen vor
          allem darauf ab, Verbindungen zwischen den Interviews zu
          identifizieren und Prozesse, Konflikte und Narrative zu entdecken, die
          für unsere Fragestellung besonders relevant sind. Diese Codes haben
          wir gemeinsam besprochen und aus ihnen die verschiedenen Geschichten
          entwickelt, die auf unserer Campus-Karte zu finden sind.
        </p>
      </div>
    </div>
    <hr class="color-scheme-border" />

    <h1 class="color-scheme-text text-center fw-bolder pt-5">Über uns</h1>
    <div class="content-container mb-0">
      <p>
        Wir sind Tom Reißmann, Jennifer Altman, Lynn Werner und Lilian Donner -
        vier Studierende der RUB, die gemeinsam im Wintersemester 2024/25 an dem
        Forschungsseminar “Digitale Methoden und kritische Datenforschung”
        teilgenommen haben. Zwei von uns (Lili und Lynn) sind Studentinnen der
        Sozialwissenschaft. Wir haben uns im vorangegangenen Semester inhaltlich
        mit dem Thema Outdoor-Kunst auf dem Campus beschäftigt und dies mit dem
        Konzept der Produktion von Raum von Lefebvre verknüpft. In diesem
        Semester sind Tom und Jenny als Studierende der Angewandten Informatik
        dazugekommen, die uns bei der Untersuchung unseres Themas und der
        Darstellung der Forschungsergebnisse in Form dieser Data Story
        unterstützen.
      </p>
      <p>
        Unsere Dozierenden sind Prof. Dr. Estrid Soerensen und Mace Ojala, bei
        denen wir uns genauso bedanken wollen, wie bei unseren
        Interviewpartner*innen bei der Stadt Bochum, den Kunstsammlungen der
        RUB, dem Musischen Zentrum, dem Dezernat 5 (Bau- und Gebäudemanagement),
        der Denkmalpflege des LWL und dem kunstgeschichtlichen Institut.
      </p>
    </div>
  </div>
</div>
