<% layout('layout/boilerplate.ejs') %>

<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
    Über uns
</h1>

<div class="test">
    <div class="container default-bg-color px-5 mb-0">
        <p>Wir sind Tom , Jenny, Lynn Werner und Lilian Donner - vier Studierende der RUB, die gemeinsam im Wintersemester 2024/25 an dem Forschungsseminar “Digitale Methoden und kritische Datenforschung” teilgenommen haben. Zwei von uns (Lili und Lynn) sind Studentinnen der Sozialwissenschaft. Wir haben uns im vorangegangenen Semester inhaltlich mit dem Thema Outdoor-Kunst auf dem Campus beschäftigt und dies mit dem Konzept der Produktion von Raum von Lefebvre verknüpft. In diesem Semester sind Tom und Jenny als Studierende der Angewandten Informatik dazugekommen, die uns bei der Untersuchung unseres Themas und der Darstellung der Forschungsergebnisse in Form dieser Data Story unterstützen.
            Unsere Dozierenden sind Prof. Dr. Estrid Soerensen und Mace Ojala, bei denen wir uns genauso bedanken wollen, wie bei unseren Interviewpartner*innen bei der Stadt Bochum, den Kunstsammlungen der RUB, dem Musischen Zentrum, dem Dezernat 5 (Bau- und Gebäudemanagement), der Denkmalpflege des LWL und dem kunstgeschichtlichen Institut.
        </p>
    </div>
</div>


