<% layout('layout/boilerplate.ejs') %>

<h1 class="color-scheme-text custom-bg-grey text-center">Über uns</h1>
<div class="container my-3">
    <div>
        <h2 class="pt-4 color-scheme-text text-center">
            Name
        </h2>
        <p data-aos="fade-left">
            Beschreibungstext
        </p>
    </div>

    <div>
        <h2 class="pt-4 color-scheme-text text-center">
            Name
        </h2>
        <p data-aos="fade-left">
            Beschreibungstext
        </p>
    </div>

    <div>
        <h2 class="pt-4 color-scheme-text text-center">
            Name
        </h2>
        <p data-aos="fade-left">
            Beschreibungstext
        </p>
    </div>

    <div>
        <h2 class="pt-4 color-scheme-text text-center">
            Name
        </h2>
        <p data-aos="fade-left">
            Beschreibungstext
        </p>
    </div>

</div>


