<% layout('layout/boilerplate.ejs') %>

<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
    Datenschutzerklärung
</h1>

<div class="test">
    <div class="container default-bg-color px-5">

        <p class="p-3">Nachfolgend informieren wir dich darüber, welche Daten bei der Nutzung unserer Website erhoben
            werden und wie diese verarbeitet werden.</p>

        <h2 class="headerdt color-scheme-text centered-text">1. Erhebung und Speicherung von Daten</h2>
        <p class="p-3">Beim Besuch unserer Website werden technisch notwendige Daten erfasst, die für den Betrieb der
            Seite erforderlich sind. Dies umfasst insbesondere:</p>
        <ul class="uldt">
            <li class="listdt"><strong class="color-scheme-text">IP-Adresse:</strong> Diese wird nur für die
                Kommunikation mit dem Server benötigt und zur Sicherstellung der Funktionsfähigkeit der Website temporär
                gespeichert.
            </li>
        </ul>

        <h2 class="headerdt color-scheme-text centered-text">2. Verwendung der Daten</h2>
        <p class="p-3">Es erfolgt keine weitergehende Datenverarbeitung. Deine IP-Adresse wird lediglich zur
            Bereitstellung der Website verwendet und nicht für weitere Zwecke gespeichert oder verarbeitet.</p>

        <h2 class="headerdt color-scheme-text centered-text">3. Weitergabe von Daten</h2>
        <p class="p-3">Wir geben keine persönlichen Daten an Dritte weiter. Es werden keine Daten an externe
            Dienstleister oder Partner übermittelt.</p>

        <h2 class="headerdt color-scheme-text centered-text">4. Cookies und Tracking</h2>
        <p class="p-3">Unsere Website verwendet keine Cookies oder andere Tracking-Technologien, um das Nutzerverhalten
            zu überwachen oder zu analysieren.</p>

        <h2 class="headerdt color-scheme-text centered-text">5. Speicherdauer</h2>
        <p class="p-3">Die erfassten Daten, wie etwa die IP-Adresse, werden nur so lange gespeichert, wie es für die
            Kommunikation mit dem Server technisch notwendig ist und danach gelöscht.</p>

        <h2 class="headerdt color-scheme-text centered-text">6. Datensicherheit</h2>
        <p class="p-3">Es werden keine speziellen Maßnahmen zur Sicherheit von Daten ergriffen, da keine Daten über den
            Serverabruf hinaus gespeichert werden.</p>

        <h2 class="headerdt color-scheme-text centered-text">7. Rechte der Nutzer</h2>
        <p class="p-3">Da keine personenbezogenen Daten gespeichert oder verarbeitet werden, bestehen keine Rechte auf
            Auskunft, Berichtigung, Löschung oder Einschränkung der Verarbeitung.</p>

        <h2 class="headerdt color-scheme-text centered-text">8. Verantwortlicher für die Datenverarbeitung</h2>
        <p class="p-3">Das Projekt wird von der Studienprojektgruppe „Kunst an der Ruhr-Universität Bochum (RUB)“
            durchgeführt.</p>

        <h2 class="headerdt color-scheme-text centered-text">9. Besondere Datenkategorien</h2>
        <p class="p-3">Es werden keine besonderen Kategorien personenbezogener Daten, wie etwa Gesundheitsdaten,
            erfasst.</p>

        <h2 class="headerdt color-scheme-text centered-text">Änderungen der Datenschutzerklärung</h2>
        <p class="p-3 mb-0">Wir behalten uns vor, diese Datenschutzerklärung bei Bedarf zu aktualisieren, um sie an geänderte
            gesetzliche Anforderungen oder Änderungen unserer Leistungen anzupassen.</p>
    </div>
</div>


