<% layout('layout/boilerplate.ejs') %>
<div class="test">
  <div class="image my-0">
    <div class="copy">
      <div class="page-title" data-aos="fade-up" data-aos-duration="1000">
        <div class="text-wrapper">Kunst auf dem Campus</div>
      </div>
    </div>
  </div>

  <div class="container my-3 default-bg-color">
    <div class="wrapper">
      <section class="main">
        <h1 class="pt-4 color-scheme-text text-center">
          Einleitung & Fragestellung
        </h1>
        <img
          class="intro-img img-fluid"
          src="Icons/guernica-modified.png"
          alt="intro image"
        />
        <p data-aos="fade-left">
          Der Campus der Ruhr-Universität ist nicht nur Lern- und
          Arbeitsumgebung für Tausende Studierende und Mitarbeitende, sondern er
          bietet auch eine große Vielfalt öffentlicher Kunst. Ob die mit der
          Architektur korrespondierende Kunst am Bau, Kunstwerke von
          Studierenden oder (un-)autorisierte Graffiti, überall auf dem Campus
          lässt sich Kunst entdecken. Doch im Universitätsalltag rückt diese oft
          in den Hintergrund.
        </p>
        <p data-aos="fade-left">
          Mit unserer Data Story wollen wir dazu einladen, den Campus aus einer
          neuen Perspektive zu betrachten und mehr über die öffentliche Kunst an
          der Ruhr-Universität zu erfahren. Dabei geht es uns nicht nur darum,
          einzelne Kunstwerke vorzustellen, sondern wir wollen auch
          nachvollziehen, wie öffentliche Kunst-Räume auf dem Campus entstehen,
          erhalten und verändert werden. Diese Prozesse stehen immer auch in
          enger Verbindung zur Geschichte der Ruhr-Universität, ihrer Identität
          und ihrem Wandel über die Zeit. Wir interessieren uns außerdem dafür,
          welche Akteure an diesen öffentlichen Kunst-Räumen beteiligt sind –
          wer sie plant, errichtet, pflegt, aneignet, verändert – oder überhaupt
          als solche wahrnimmt.
        </p>
        <p data-aos="fade-left">
          Dabei wollen wir drei verschiedene Blickwinkel auf die Kunst auf dem
          Campus mit einbeziehen. Die erste Perspektive ist die der Planung der
          Kunst-Räume an der RUB seitens verschiedener Akteure. Dazu zählt die
          Erhaltung und Pflege der Kunst, aber auch ihr Abbau und ihre Lagerung
          bei Umbaumaßnahmen. Andererseits interessiert uns auch, welche Rolle
          die Kunst für die Nutzenden des Campus in ihrer Alltagswelt spielt.
          Wird sie überhaupt als solche wahrgenommen oder möglicherweise anders
          interpretiert und genutzt? Der letzte Blickwinkel richtet sich
          schließlich auf Aneignungsprozesse der öffentlichen Kunst-Räume,
          beispielsweise durch Graffiti oder Kunstwerke von Studierenden. Diese
          drei Perspektiven möchten wir im Rahmen unserer Data Story aufgreifen
          und auch betrachten, an welchen Stellen sie miteinander in Berührung
          kommen.
        </p>
      </section>
    </div>

    <div class="pt-4">
      <h1 class="color-scheme-text text-center">
        Datenmaterial & Aufbau der Data Story
      </h1>
      <p data-aos="fade-left">
        Um diesen Fragen nachzugehen, haben wir selber den Campus erkundet,
        Fachliteratur zu Kunst im öffentlichen Raum und an Universitäten gelesen
        und mit Expert:innen der Kunstsammlungen, des kunsthistorischen
        Instituts, des Dezernat 5 und des musischen Zentrums gesprochen.
      </p>
    </div>

    <div class="row">
      <div class="col">
        <div class="pt-4">
          <h3 class="subtitle-1 text-center">
            <a href="visualizations" class="subtitle-link"
              >Datenvisualisierungen zur Kunst am Bau</a
            >
          </h3>
          <p data-aos="fade-left">
            Eine zentrale Rolle spielt in unserer Forschung die Kunst am Bau,
            also Kunstwerke, die als Investition im Rahmen von Bauvorhaben
            entstanden sind und in engem Zusammenhang mit der Architektur
            stehen. An der RUB ist die Kunst am Bau vor allem im Zuge des
            ursprünglichen Baus der Universität in den 1960er und 1970er Jahren
            entstanden. Eine ausführliche Darstellung der Kunst am Bau-Werke an
            der RUB mit Beschreibungen von Studierenden der Kunstgeschichte ist
            <a href="visualizations">hier</a> zu finden. Ergänzend zu dieser
            Darstellungsweise präsentieren wir in unserer Data Story
            Datenvisualisierungen, die einen Blick auf die Gesamtheit der Kunst
            am Bau auf dem Campus ermöglichen. Die Visualisierungen gehen Fragen
            nach wie: Wann und wo auf dem Campus ist die Kunst am Bau
            entstanden? Welche Künstler stehen hinter den Kunstwerken? Welche
            Materialien wurden besonders häufig verwendet?
          </p>
        </div>
      </div>

      <div class="col">
        <div class="pt-4">
          <h3 class="subtitle-2 text-center">
            <a href="map" class="subtitle-link"
              >Interaktive Campus-Karte</a
            >
          </h3>
          <p data-aos="fade-left">
            Wir wollen uns jedoch nicht ausschließlich mit der Kunst am Bau
            auseinandersetzen, sondern auch andere Kunstformen, insbesondere
            Kunst von Studierenden und Graffiti in den Fokus rücken. Außerdem
            geht es uns auch darum, Fragen nach dem Wandel der Materialität,
            aber auch der Bedeutung der Kunst auf dem Campus im Zeitverlauf
            nachzugehen. Dafür erzählen wir auf Grundlage unseres umfangreichen
            Interviewmaterials beispielhafte Geschichten einzelner Kunstwerke
            und Orte auf dem Campus. Diese können auf unserer interaktiven Karte
            des Campus erkundet werden.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="pt-4">
          <h3 class="subtitle-3 text-center">
            <a href="visualizations" class="subtitle-link">Bildergalerie</a>
          </h3>
          <p data-aos="fade-left">
            Zum Einstieg in unsere Data Story laden wir aber zunächst dazu ein,
            die Bildergalerie am Ende dieser Seite anzuschauen. Die Galerie
            enthält Fotos, die wir während unserer ersten Erkundungen des Campus
            auf der Suche nach Kunst gemacht haben. Klickt man auf die Bilder,
            so werden kurze Erklärungen zu den jeweiligen Objekten angezeigt.
            Die Bildergalerie zeigt die Vielfalt der Kunstwerke und
            Verschönerungen auf dem Campus und richtet die Aufmerksamkeit auf
            Orte, an denen wir vielleicht alltäglich vorbeikommen, deren Details
            und Geschichte wir aber oft nicht bewusst wahrnehmen.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--Image Carousel with clickable cards-->
  <div class="container py-3" data-aos="fade-up">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active btn-secondary"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          class="btn-secondary"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          class="btn-secondary"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <!--First card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="1">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/galaxie.jpeg"
                />
                <div class="card-body">
                  <h4 class="card-title">Fotodruck</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <!--Second card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="2">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/guernica.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Reproduktion</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <!--Third Card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="3" id="carousel-card-3">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/keramikwand.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Keramikwand</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <!--Fourth card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="4">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/skulptur.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Skulptur</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <!--Fifth card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="5" id="carousel-card-5">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/freifläche.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Graffitifreifläche</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <!--Sixth card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="6" id="carousel-card-6">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/graffiti.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Illegale Graffiti</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <!--Seventh card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="7">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/wolken.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Gebäude-Verschönerung</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <!--Eighth card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="8">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/chile.jpg"
                />
                <div class="card-body">
                  <h4 class="card-title">Wandmalerei</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>

            <!--Ninth card-->
            <div class="col-md-4 mb-3">
              <div class="card clickable" data-card-id="9">
                <img
                  class="img-fluid"
                  alt="Card Image"
                  src="Bilderkarussell/galaxie.jpeg"
                />
                <div class="card-body">
                  <h4 class="card-title">Special title treatment</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Div to display each image's title, description and the image of each card that was clicked in the image-carousel-->
  <div id="description-display" class="description-box text-center hidden">
    <div class="container">
      <div class="row mx-5">
        <div class="col-12 col-md-3 custom-bg-grey mx-3 my-3">
          <div class="centered-text">
            <img
              src="Illustrationen/brushes_b.png"
              class="img-fluid"
              alt="art image"
            />
            <h3 class="color-scheme-text" id="title-text"></h3>
          </div>
        </div>
        <div class="col-12 col-md-8 custom-bg-grey mx-3 my-3">
          <div class="d-flex flex-row align-items-center">
            <img src="Icons/Arrow_smaller.png" alt="arrow icon" />
            <p class="my-4 mx-4" id="description-text"></p>
          </div>
          <img src="" class="img-fluid" alt="Card Image" id="carouselImage" />
        </div>
      </div>
    </div>
  </div>
</div>
<script type="module" src="js/app.js"></script>
<script type="module" src="js/home.js"></script>
