<% layout('/layout/boilerplate.ejs') %>

<div class="image my-0">
  <div class="copy">
    <div class="page-title" data-aos="fade-up">
      <div class="text-wrapper">Kunst auf dem Campus</div>
    </div>
  </div>
</div>

<div class="container text-center my-3">
  <div>
    <p data-aos="fade-left">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet
      voluptatum nobis aliquam quae dicta officia quas, odit repellendus,
      eveniet libero voluptates alias mollitia beatae! Repudiandae minima soluta
      quam deserunt quidem fuga incidunt nam pariatur nisi eos id vitae, officia
      et non totam beatae fugiat deleniti eaque facilis? Incidunt harum quos
      laudantium! Omnis necessitatibus vero illo nihil iste aut tempora
      voluptatum a ipsum sapiente sunt natus, reiciendis adipisci velit error
      odit tempore minus rem excepturi possimus. Aspernatur dicta culpa dolorum
      deleniti inventore magnam? Explicabo velit, rem facilis quidem nemo ipsum
      molestiae labore alias, nihil corporis ab ipsam quod. Impedit, cumque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet
      voluptatum nobis aliquam quae dicta officia quas, odit repellendus,
      eveniet libero voluptates alias mollitia beatae! Repudiandae minima soluta
      quam deserunt quidem fuga incidunt nam pariatur nisi eos id vitae, officia
      et non totam beatae fugiat deleniti eaque facilis? Incidunt harum quos
      laudantium!
    </p>
    <p data-aos="fade-left">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet
      voluptatum nobis aliquam quae dicta officia quas, odit repellendus,
      eveniet libero voluptates alias mollitia beatae! Repudiandae minima soluta
      quam deserunt quidem fuga incidunt nam pariatur nisi eos id vitae, officia
      et non totam beatae fugiat deleniti eaque facilis? Incidunt harum quos
      laudantium! Omnis necessitatibus vero illo nihil iste aut tempora
      voluptatum a ipsum sapiente sunt natus, reiciendis adipisci velit error
      odit tempore minus rem excepturi possimus. Aspernatur dicta culpa dolorum
      deleniti inventore magnam? Explicabo velit, rem facilis quidem nemo ipsum
      molestiae labore alias, nihil corporis ab ipsam quod. Impedit, cumque.
    </p>
  </div>
</div>

<!--Image Carousell with clickable cards-->
<div class="container py-3" data-aos="fade-up">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active btn-secondary"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        class="btn-secondary"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        class="btn-secondary"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="1">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Fotodruck</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="2" id="carousel-card-2">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/guernica.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">Reproduktion</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="3" id="carousel-card-3">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/keramikwand.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">keramikwand</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="4" id="carousel-card-4">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/skulptur.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">Skulptur</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="5" id="carousel-card-5">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/freifläche.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">Graffiti Freifläche</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="6" id="carousel-card-6">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/graffiti.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">Illegale Graffiti</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="7" id="carousel-card-7">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/wolken.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">Gebäude-Verschönerung</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="8" id="carousel-card-8">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/chile.jpg"
              />
              <div class="card-body">
                <h4 class="card-title">Wandmalerei</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card clickable" data-card-id="9" id="carousel-card-9">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Bilderkarussell/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Div to display each image's title, description and set the image itself as the background-->
<div id="description-display" class="description-box text-center hidden">
  <div class="container">
      <div class="row mx-5">
        <div class="col-12 col-md-3 custom-bg-grey-opaque mx-3 my-3">
          <div class="centered-text">
            <h3 class="color-scheme-text" id="title-text"></h3>
          </div>
        </div>
        <div class="col-12 col-md-8 custom-bg-grey-opaque mx-3 my-3">
          <div
            class="d-flex flex-row align-items-center ">
            <img src="/Icons/Arrow_smaller.png" alt="arrow icon"/>
            <p class="mx-3" id="description-text"></p>
          </div>
          <img src="/Bilderkarussell/galaxie.jpeg"  class="img-fluid" alt="">

        </div>
      </div>
  </div>
</div>
