<% layout('/layout/boilerplate.ejs') %>

<div class="image my-4">
  <div class="copy">
    <div class="page-title" data-aos="fade-up">
      <div class="text-wrapper">Kunst auf dem Campus</div>
    </div>
  </div>
</div>

<div class="container text-center my-3">
  <div>
    <p data-aos="fade-left">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet
      voluptatum nobis aliquam quae dicta officia quas, odit repellendus,
      eveniet libero voluptates alias mollitia beatae! Repudiandae minima soluta
      quam deserunt quidem fuga incidunt nam pariatur nisi eos id vitae, officia
      et non totam beatae fugiat deleniti eaque facilis? Incidunt harum quos
      laudantium! Omnis necessitatibus vero illo nihil iste aut tempora
      voluptatum a ipsum sapiente sunt natus, reiciendis adipisci velit error
      odit tempore minus rem excepturi possimus. Aspernatur dicta culpa dolorum
      deleniti inventore magnam? Explicabo velit, rem facilis quidem nemo ipsum
      molestiae labore alias, nihil corporis ab ipsam quod. Impedit, cumque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet
      voluptatum nobis aliquam quae dicta officia quas, odit repellendus,
      eveniet libero voluptates alias mollitia beatae! Repudiandae minima soluta
      quam deserunt quidem fuga incidunt nam pariatur nisi eos id vitae, officia
      et non totam beatae fugiat deleniti eaque facilis? Incidunt harum quos
      laudantium!
    </p>
    <p data-aos="fade-left">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus amet
      voluptatum nobis aliquam quae dicta officia quas, odit repellendus,
      eveniet libero voluptates alias mollitia beatae! Repudiandae minima soluta
      quam deserunt quidem fuga incidunt nam pariatur nisi eos id vitae, officia
      et non totam beatae fugiat deleniti eaque facilis? Incidunt harum quos
      laudantium! Omnis necessitatibus vero illo nihil iste aut tempora
      voluptatum a ipsum sapiente sunt natus, reiciendis adipisci velit error
      odit tempore minus rem excepturi possimus. Aspernatur dicta culpa dolorum
      deleniti inventore magnam? Explicabo velit, rem facilis quidem nemo ipsum
      molestiae labore alias, nihil corporis ab ipsam quod. Impedit, cumque.
    </p>
  </div>
</div>

<div class="container my-3" data-aos="fade-up">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active btn-secondary" aria-current="true" aria-label="Slide 1"></button>
      <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="btn-secondary" aria-label="Slide 2"></button>
      <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="btn-secondary" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card" id="carousel-card-1">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
        </div>


        
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img
                class="img-fluid"
                alt="100%x280"
                src="/Images/galaxie.jpeg"
              />
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


