<% layout('layout/boilerplate.ejs') %>

<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
  Impressum
</h1>

<div class="test">
  <div class="container default-bg-color px-5">
    <div class="p-3">
      <p class="p-3"></p>
      <p><strong>Angaben gemäß §5 TMG</strong></p>
      <p>Studienprojekt Kunst an der Ruhr-Universität Bochum</p>
      <p>Ruhr-Universität Bochum</p>
      <p>Universitätsstraße 150</p>
      <p>44801 Bochum</p>
      <p>Deutschland</p>
      <p class="p-3"></p>
      <p>
        Weitere Angaben entnehmen Sie bitte dem offiziellen Impressum der
        Ruhr-Universität Bochum unter folgendem Link:
        <a class="link" href="https://www.ruhr-uni-bochum.de/de/impressum"
          >Impressum der RUB</a
        >
      </p>
    </div>

    <h3 class="headermd color-scheme-text p-3">
      Haftung für Inhalte und Links
    </h3>
    <p class="p-3">
      Unsere Website enthält eventuell Links zu externen Websites Dritter, auf
      deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
      fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
      verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
      Seiten verantwortlich.
    </p>

    <h3 class="headermd color-scheme-text p-3">Urheberrecht</h3>
    <p class="p-3">
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
      Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
      Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
      des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen
      Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
      privaten, nicht kommerziellen Gebrauch gestattet.
    </p>

    <h3 class="headermd color-scheme-text p-3">Datenschutz</h3>
    <p class="p-3">
      Informationen zum Datenschutz finden Sie in unserer
      <a class="link" href="/datenschutz">Datenschutzerklärung</a>.
    </p>
    <p class="p-3 mb-0"></p>
  </div>
</div>
