<% layout('/layout/boilerplate.ejs') %>
<h1 class="text-center color-scheme-text" style="background-color: rgb(224, 222, 222)">Entdecke eine Geschichte</h1>
<div class="container">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3059.8708087896466!2d7.260439136230216!3d51.444345489921915!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sde!2sde!4v1733673467913!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<%- include('stories/campussanierung.ejs') %>
