<% layout('layout/boilerplate.ejs') %>
<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder">
  Entdecke eine Geschichte
</h1>
<!-- Map -->
<div class="map-container">
  <img
    src="Illustrationen/map.png"
    alt="Map"
    style="width: 100%; display: block"
  />

  <!-- Pins -->
  <div
    class="map-pin"
    style="top: 17%; left: 53%"
    data-content="Story 1"
    data-path="parallelwelten"
  ></div>
  <div
    class="map-pin"
    style="top: 63%; left: 50%"
    data-content="Story 2"
    data-path="utopie"
  ></div>
  <div
    class="map-pin"
    style="top: 58%; left: 47%"
    data-content="Story 3"
    data-path="gefahr"
  ></div>
  <div
    class="map-pin"
    style="top: 80%; left: 65%"
    data-content="Story 4"
    data-path="campussanierung"
  ></div>
  <div
    class="map-pin"
    style="top: 25%; left: 48%"
    data-content="Story 5"
    data-path="lovestory"
  ></div>
</div>

<!-- Info-Box - container für stories -->
<div class="info-box" id="info-box">
  <h3 class="color-scheme-text py-3 fw-bolder text-center">
    Klicke auf einen Pin, um eine Geschichte zu entdecken!
  </h3>
</div>

<script src="js/map.js"></script>
