<% layout('layout/boilerplate.ejs') %>

<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
    Quellen
</h1>

<div class="test">
    <div class="container default-bg-color px-5">
        <h2 class="headermd color-scheme-text centered-text p-5">Quellensammlung für die Data Story:</h2>
        <li class="p-2 listdt">Bochumer Stadt- & Studierendenzeitung (8.12.2008). #768 - Campus-Initiative zu
            Sozialwohnsiedlungen
            in Italien. In bszonline. Im Internet
            unter: https://bszonline.de/2008/12/08/campus-initiative-zu-sozialwohnsiedlungen-in-italien/.
        </li>
        <li class="p-2 listdt">Breidenstein, G., Hirschauer, S., Kalthoff, H., & Nieswand, B. (2013). Ethnographie. Die
            Praxis
            der
            Feldforschung. Konstanz: UVK Verlagsgesellschaft GmbH.
        </li>
        <li class="p-2 listdt">Bundesministerium für Verkehr, Bau und Stadtentwicklung (2012). Leitfaden Kunst am Bau.
            Berlin:
            Bundesministerium für Verkehr, Bau und Stadtentwicklung.
        </li>
        <li class="p-2 listdt">Bundesministerium für Wohnen, Stadtentwicklung und Bauwesen (2024). Verbindliche Vorgaben
            zu
            Kunst am Bau. In BWSBW (Hrsg.), Baupolitische und baukulturelle Vorgaben und
            Standardsetzungen für den Bundesbau. Im Internet unter:
            https://www.fib-bund.de/Inhalt/Leitfaden/KunstamBau/2024-07-
            01_BMWSB_BI5_A3_72_VerbindlicheVorgaben_Kunst_am_Bau.pdf.
        </li>
        <li class="p-2 listdt">Erman, S. (2023). Graffiti als ein Recht auf Stadt? Eine feministische Perspektive auf
            Teilhabe
            in der
            Graffiti-Szene. In F. Häuser, & R. Kaltenhäuser (Hrsg.), Graffiti und Politik (S. 106-122).
            Weinheim: Beltz Juventa.
        </li>
        <li class="p-2 listdt">Grenier, M. R. (2009). An Analysis of Public Art on University Campuses: Policies,
            Procedures,
            and
            Best Practices. Minneapolis, MN: University of Minnesota.
        </li>
        <li class="p-2 listdt">Hards, L., Vaughan, S., & Williams, J. (2014). Place-Making and Other Purposes: Public
            Art
            on
            Campus. In P. Temple (Hrsg.), The Physical University (S. 106-128). London, UK: Routledge.
        </li>
        <li class="p-2 listdt">Heindl, N., Hoppe-Sailer, R., & Mastnak-Walisko, T. (2015). Für den Campus konzipiert.
            Die
            Kunst
            am
            Bau der Ruhr-Universität Bochum. Bochum: Westdeutscher Universitätsverlag.
        </li>
        <li class="p-2 listdt">Heindl, N., Hoppe-Sailer, R., & Mastnak-Walisko, T. (2015). Vorwort. In N. Heindl, R.
            Hoppe-Sailer, & T.
            Mastnak-Walisko (Hrsg.), Für den Campus konzipiert. Die Kunst am Bau der Ruhr-Universität
            Bochum (S. 4f). Bochum: Westdeutscher Universitätsverlag.
        </li>
        <li class="p-2 listdt">Helfferich, C. (2014). Leitfaden- und Experteninterviews. In N. Baur, & J. Blasius
            (Hrsg.),
            Handbuch
            Methoden der empirischen Sozialforschung (S. 559-574). Wiesbaden: Springer VS.
        </li>
        <li class="p-2 listdt">Helmstetter, R. (2022). Unerlaubte Kunst: Der öffentliche Raum als künstlerische Arena.
            Bielefeld:
            transcript Verlag.
        </li>
        <li class="p-2 listdt">Honikel, P. (2015). Erich Reusch (*1925). In N. Heindl, R. Hoppe-Sailer, & T.
            Mastnak-Walisko
            (Hrsg.),
            Für den Campus konzipiert. Die Kunst am Bau der Ruhr-Universität Bochum (S. 42f). Bochum:
            Westdeutscher Universitätsverlag.
        </li>
        <li class="p-2 listdt">Kunstgeschichtliches Institut der Ruhr-Universität Bochum (o.D.). Kunst Tour RUB - die
            CampusKunstApp. Im Internet unter:
            https://kgi.ruhr-uni-bochum.de/portfolio-item/kunst-tour-rub-die-campuskunstapp/.
        </li>
        <li class="p-2 listdt">Kwon, M. (2002). One Place After Another. Site-Specific Art and Locational Identity.
            Cambridge, Mass.: The MIT Press.
        </li>
        <li class="p-2 listdt">Lefebvre, H. (1991). The Production of Space. Blackwell: Oxford.
        </li>
        <li class="p-2 listdt">Lewitzky, U. (2005). Kunst für alle? Kunst im öffentlichen Raum zwischen Partizipation,
            Intervention und
            Neuer Urbanität. Bielefeld: transcript Verlag.
        </li>
        <li class="p-2 listdt">Pedrabissi, R. (October 2015). Public Art on University Campuses. How Art Engages with
            the
            Public
            Space [Conference Paper]. International Design Congress 2015, Gwangju, Korea.
        </li>
        <li class="p-2 listdt">Prost, S., Ntouros, V., Wood, G., Collingham, H., Taylor, N., Crivellaro, C., Rogers, J.,
            & Vines, J.
            (2023). Walking and Talking: Place-based Data Collection and Mapping for Participatory Design
            with Communities. In DIS '23: Proceedings of the 2023 ACM Designing Interactive Systems
            Conference (S. 2437-2452). ACM.
        </li>
        <li class="p-2 listdt">Ruhr-Universität Bochum (o.D.) Kunst am Bau. Im Internet unter:
            https://uni.ruhr-uni-bochum.de/de/kunst-am-bau.
        </li>
        <li class="p-2 listdt">Stallmann, H. (2004). Am Anfang war Bochum. Die Gründung der Ruhr-Universität im Kontext
            der 60er
            Jahre. Die Hochschule: Journal für Wissenschaft und Bildung, 13(1). 171-184.
        </li>
        <li class="p-2 listdt">Zieleniec, A. (2018). Lefebvre's Politics of Space: Planning the Urban as Oeuvre.
            Urban
            Planning,
            3(3),
            S. 5-15
        </li>
        <p class="p-3 mb-0"> </p>
    </div>
</div>
