<% layout('/layout/boilerplate.ejs') %>
<div class="container text-center">
  <h1> Visualisierungen</h1>
  <div id="accordion">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-3" style="background-color: #d8f3dc;">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Wann sind die Kunst am Bau-Werke auf dem Campus entstanden?
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div
                class="flourish-embed flourish-gantt"
                data-src="visualisation/20429865"
              >
                <script src="https://public.flourish.studio/resources/embed.js"></script>
                <noscript
                  ><img
                    src="https://public.flourish.studio/visualisation/20429865/thumbnail"
                    width="100%"
                    alt="gantt visualization"
                /></noscript>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-3" style="background-color: #b7e4c7">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Wie ist das Verhältnis von Außen-/und Innenbereich?
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div
                class="flourish-embed flourish-chart"
                data-src="visualisation/20447596"
              >
                <script src="https://public.flourish.studio/resources/embed.js"></script>
                <noscript
                  ><img
                    src="https://public.flourish.studio/visualisation/20447596/thumbnail"
                    width="100%"
                    alt="chart visualization"
                /></noscript>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-3" style="background-color: #95d5b2">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Welche Materialien wurden verwendet?
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div
                class="flourish-embed flourish-word-cloud"
                data-src="visualisation/20448421"
              >
                <script src="https://public.flourish.studio/resources/embed.js"></script>
                <noscript
                  ><img
                    src="https://public.flourish.studio/visualisation/20448421/thumbnail"
                    width="100%"
                    alt="word-cloud visualization"
                /></noscript>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card my-3" style="background-color: #95d5b2">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Wie heißen die Künstler?
                </button>
              </h5>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-hierarchy"
                  data-src="visualisation/20444386"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20444386/thumbnail"
                      width="100%"
                      alt="hierarchy visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card my-3" style="background-color: #b7e4c7">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Woher kommen die Künstler?
                </button>
              </h5>
            </div>
            <div
              id="collapseFive"
              class="collapse"
              aria-labelledby="headingFive"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-bar-chart-race"
                  data-src="visualisation/20447741"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20447741/thumbnail"
                      width="100%"
                      alt="bar-chart-race visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card my-3" style="background-color: #d8f3dc">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  Welches Geschlecht haben die Künstler?
                </button>
              </h5>
            </div>
            <div
              id="collapseSix"
              class="collapse"
              aria-labelledby="headingSix"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-pictogram"
                  data-src="visualisation/20443926"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20443926/thumbnail"
                      width="100%"
                      alt="pictogram visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/app.js"></script>