<% layout('/layout/boilerplate.ejs') %>
<h1 class="text-center color-scheme-text custom-bg-grey py-4 fw-bolder m-0">
  Datenvisualisierungen zur Kunst am Bau
</h1>

<div class="test">
  <div class="container default-bg-color px-5">
    <div class="text-container">
      <div class="row">
        <div class="col-12 col-md-7">
          <div
            class="d-flex flex-row align-items-center justify-content-center my-3"
          >
            <div class="text-container custom-bg-grey-shadow">
              <div class="quote-container">
                <img
                  src="Icons/quote.png"
                  alt="quotation marks"
                  class="quote-img"
                />
                <p class="fst-italic">
                  „Es ist Kunst und da hat dann jeder schon Respekt vor und da
                  hängen möglicherweise Versicherungssummen dran. Das heißt, mit
                  welchem Bauverfahren mache ich das, ja, bis am Ende mit
                  welchem Sägeblatt säge ich das Teil durch, so dass es
                  möglichst wenig kaputt geht? Das war schon eine
                  Riesenherausforderung. Ich glaube, es hat 140 Tonnen gewogen
                  und die mussten dann halt da raus.“
                </p>
              </div>
              <p class="color-scheme-text description-text">
                Zitat aus einem Interview mit Mitarbeitenden des Dezernats 5 der
                RUB
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-end">
          <p>
            So wird Kunst am Bau in den baupolitischen und baukulturellen
            Vorgaben und Standardsetzungen für den Bundesbau beschrieben. Die
            Idee hinter Kunst am Bau ist es, dass bei öffentlichen
            Bauinvestitionen ein bestimmter Prozentsatz für Kunst in und an den
            Gebäuden ausgegeben werden soll. Die Auswahl und Beteiligung der
            Künstler*innen unterliegt dabei spezifischen Verfahrensregeln. Auch
            die Ruhr-Universität als öffentliche Institution ist von dieser
            Regelung betroffen und im Zuge der Errichtung und des fortlaufenden
            Ausbaus der Universität sind zahlreiche Kunst am Bau-Werke auf dem
            Campus entstanden.
          </p>
        </div>
      </div>
      <div class="row">
        <p>
          Diese werden in verschiedenen wissenschaftlichen Veröffentlichungen
          vorgestellt (siehe z. B. Heindl et al., 2015) und auch auf der
          <a class="link" href="https://uni.ruhr-uni-bochum.de/de/kunst-am-bau"
            >Homepage der RUB</a
          >
          finden sich ausführliche Beschreibungen der Werke, die von
          Studierenden der Kunstgeschichte verfasst wurden. Seit 2023 gibt es
          zudem die ebenfalls von Kunstgeschichte-Studierenden konzipierte
          <a
            class="link"
            href="https://kgi.ruhr-uni-bochum.de/portfolio-item/kunst-tour-rub-die-campuskunstapp/"
            >„Kunst Tour RUB“</a
          >, mit der die Kunst am Bau auch mittels eines Audiorundganges über
          die App Actionbound erkundet werden kann.
        </p>
        <p>
          Die Kunst am Bau ist zwar nicht die einzige Form von Kunst auf dem
          Campus, mit der wir uns im Rahmen unseres Projektes auseinandergesetzt
          haben, stellt aber einen großen Schwerpunkt dar. Sie hat aufgrund
          ihres hohen Institutionalisierungsgrades eine besondere Stellung und
          prägt das Bild des Campus langfristig. An ihrer Erhaltung und
          Vermittlung sind zudem zahlreiche verschiedene Akteure wie
          beispielsweise die Kunstsammlungen Moderne oder auch das Dezernat 5
          (Bau- und Gebäudemanagement) beteiligt.
        </p>
        <p>
          Durch das Dezernat 5 wurde auch eine Inventarisierung der Kunst am
          Bau-Werke auf dem Campus vorgenommen. Die im Rahmen dieser
          Inventarisierung entstandene Liste wurde uns freundlicherweise zur
          Verfügung gestellt. Basierend auf dieser Übersicht haben wir
          Datenvisualisierungen erstellt, die einen neuen zusätzlichen
          Blickwinkel auf die Kunst am Bau ermöglichen sollen. Ihre Besonderheit
          ist, dass sie sich mit der Gesamtheit der Werke auf dem Campus
          beschäftigen und einen Überblick über Errichtungszeiträume, Standorte
          und Künstler ermöglichen.
        </p>
      </div>
    </div>

    <!-- Visualizations -->
    <div id="accordion">
      <div class="row py-3">
        <h2 class="color-scheme-text mt-4 text-center fw-bolder">
          <!--subtitle-->
          Visualisierungen zu den Kunstwerken:
        </h2>
      </div>

      <!--first card with gantt-chart-->
      <div class="row py-4 first-row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col col-lg-8">
          <div class="card visualizations-card" id="visualization_card_1">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Wann sind die Kunst am Bau-Werke auf dem Campus entstanden?
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              data-card-number="1"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-gantt"
                  data-src="visualisation/21257048"
                  onerror="this.outerHTML = '<img src=\'/Visualisierungen_Screenshots/Visualisierungen_Flourish_Aufstellungszeiträume.jpg\' alt=\'Fallback Gantt Chart\' style=\'width: 100%;\' >'"
                >
                  <script
                    src="https://public.flourish.studio/resources/embed.js"
                    onerror="this.outerHTML = '<img src=\'/Visualisierungen_Screenshots/Visualisierungen_Flourish_Aufstellungszeiträume.jpg\' alt=\'Fallback Gantt Chart\' style=\'width: 100%;\' >'"
                  ></script>
                  <!-- Fallback Screenshot -->
                  <noscript>
                    <img
                      src="/Visualisierungen_Screenshots/Visualisierungen_Flourish_Aufstellungszeiträume.jpg"
                      width="100%"
                      alt="gantt visualization"
                    />
                  </noscript>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card" id="visualization_description_1">
            <div class="card-body">
              <p class="text-light p-data-visualizations-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
                cum nam earum ullam corporis quos deleniti. Porro perferendis
                consectetur vitae tempore in esse.
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr class="color-scheme-border" />


      <!--Second Card:-->
      <div class="row py-4 middle-row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-4">
          <div class="card" id="visualization_description_2">
            <div class="card-body">
              <p class="text-light p-data-visualizations-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
                cum nam earum ullam corporis quos deleniti. Porro perferendis
                consectetur vitae tempore in esse.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-lg-8">
          <div class="card visualizations-card" id="visualization_card_2">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Wie ist das Verhältnis von Außen-/und Innenbereich?
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse show"
              data-card-number="2"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-chart"
                  data-src="visualisation/20447596"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20447596/thumbnail"
                      width="100%"
                      alt="chart visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="color-scheme-border" />

      <!--Third Card:-->
      <div class="row py-4 last-row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-12 col-lg-8 text-center second-item">
          <div class="card visualizations-card" id="visualization_card_3">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Welche Materialien wurden verwendet?
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse show"
              data-card-number="3"
              aria-labelledby="headingThree"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-word-cloud"
                  data-src="visualisation/20448421"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20448421/thumbnail"
                      width="100%"
                      alt="word-cloud visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" id="visualization_description_3">
            <div class="card-body">
              <p class="text-light p-2 p-data-visualizations-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
                cum nam earum ullam corporis quos deleniti. Porro perferendis
                consectetur vitae tempore in esse.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--subtitle -->
      <div class="row py-3" >
        <h2 class="color-scheme-text mt-5 text-center fw-bolder">
          Visualisierungen zu den Künstlern:
        </h2>
      </div>

      <!--Fourth Card:-->
      <div class="row py-4 first-row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-4">
          <div class="card" id="visualization_description_4">
            <div class="card-body">
              <p class="text-light p-2 p-data-visualizations-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
                cum nam earum ullam corporis
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="card visualizations-card" id="visualization_card_4">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="true"
                  aria-controls="collapseFour"
                >
                  Wie heißen die Künstler?
                </button>
              </h5>
            </div>
            <div
              id="collapseFour"
              class="collapse show"
              data-card-number="4"
              aria-labelledby="headingFour"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-hierarchy"
                  data-src="visualisation/20444386"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20444386/thumbnail"
                      width="100%"
                      alt="hierarchy visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="color-scheme-border" />

      <!--Fifth Card:-->
      <div class="row py-4 middle-row " data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-8">
          <div class="card visualizations-card" id="visualization_card_5">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Woher kommen die Künstler?
                </button>
              </h5>
            </div>
            <div
              id="collapseFive"
              class="collapse show"
              data-card-number="5"
              aria-labelledby="headingFive"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-bar-chart-race"
                  data-src="visualisation/20447741"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20447741/thumbnail"
                      width="100%"
                      alt="bar-chart-race visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" id="visualization_description_5">
            <div class="card-body">
              <p class="text-light p-2 p-data-visualizations-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
                cum nam earum ullam corporis quos deleniti. Porro perferendis
                consectetur
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr class="color-scheme-border" />

      <!--Sixth Card:-->
      <div class="row py-4 last-row " data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-4">
          <div class="card" id="visualization_description_6">
            <div class="card-body">
              <p class="text-light p-2 p-data-visualizations-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
                cum nam earum ullam corporis
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 second-item">
          <div class="card visualizations-card" id="visualization_card_6">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix"
                >
                  Welches Geschlecht haben die Künstler?
                </button>
              </h5>
            </div>
            <div
              id="collapseSix"
              class="collapse show"
              data-card-number="6"
              aria-labelledby="headingSix"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div
                  class="flourish-embed flourish-pictogram mb-0"
                  data-src="visualisation/20443926"
                >
                  <script src="https://public.flourish.studio/resources/embed.js"></script>
                  <noscript
                    ><img
                      src="https://public.flourish.studio/visualisation/20443926/thumbnail"
                      width="100%"
                      alt="pictogram visualization"
                  /></noscript>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Seventh Card:-->
      <!--<div class="row py-3">
      <h2 class="color-scheme-text mt-5 text-center fw-bolder">
        Fakten über die Interviewees:
      </h2>
    </div>
    <div class="row py-3 first-row py-3">
      <div class="col-12 col-lg-8">
        <div class="card" id="visualization_card_7">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                Welches Geschlecht haben die Interviewees?
              </button>
            </h5>
          </div>
          <div
            id="collapseSeven"
            class="collapse show"
            data-card-number="7"
            aria-labelledby="headingSeven"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div
                class="flourish-embed flourish-scatter"
                data-src="visualisation/21051517"
              >
                <script src="https://public.flourish.studio/resources/embed.js"></script>
                <noscript
                  ><img
                    src="https://public.flourish.studio/visualisation/21051517/thumbnail"
                    width="100%"
                    alt="pictogram visualization"
                /></noscript>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" id="visualization_description_7">
          <div class="card-body">
            <p class="text-light p-2 p-data-visualizations-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              blanditiis cupiditate commodi, quam sapiente voluptatibus harum,
              cum nam earum ullam corporis
            </p>
          </div>
        </div>
      </div>
    </div>-->
    </div>
  </div>
</div>

<script type="module" src="js/app.js"></script>
<script type="module" src="js/visualizations.js"></script>
