/* From Uiverse.io by gharsh11032000 */ 
/*.card {
  width: 300px;
  height: 200px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.card-content .card-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
}*/





/* From Uiverse.io by SteveBloX */ 
/*.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}*/

@import 'colors.css';

.card-header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#visualization_card_1, #visualization_card_4 {
  /*background-color: var(--color-matching-gradient-3);*/
  background: linear-gradient(90deg, var(--color-matching-gradient-3), var(--color-matching-gradient-4) );

  box-shadow: 4px 9px 13px 0px rgba(0, 0, 0, 0.2);
}

#visualization_card_2, #visualization_card_5 {
  /*background-color: var(--color-matching-gradient-4);*/
  background: linear-gradient(90deg, var(--color-matching-gradient-4), var(--color-matching-gradient-5) );
  box-shadow: 4px 9px 13px 0px rgba(0, 0, 0, 0.2);
}

#visualization_card_3, #visualization_card_6 {
  /*background-color: var(--color-matching-gradient-5);*/
  background: linear-gradient(90deg, var(--color-matching-gradient-5), var(--color-matching-gradient-6) );
  box-shadow: 4px 9px 13px 0px rgba(0, 0, 0, 0.2);
}


#visualization_card_1 .btn,
#visualization_card_2 .btn,
#visualization_card_3 .btn,
#visualization_card_4 .btn,
#visualization_card_5 .btn,
#visualization_card_6 .btn {
  color: white;
  font-size: large;
}


.card:hover {
  background: var(--color-main-transparent);
  transform: scale(1.08); /* Slight zoom */
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.25); /* Depth effect */
  transition: all 0.3s ease; /* Smooth transition */
}



.card .btn:hover {
  color: var(--color-main); /* Button hover */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Glow effect */
  transition: all 0.3s ease;
}
