.color-scheme{
    background: rgba(69, 140, 133, 0.8);
}

.color-scheme-text{
  color: rgba(69, 140, 133);
}

p{
  color: #3f3f3f;
}

.accordion > *{
  background: rgba(69, 140, 133, 0.70);

}

.image {
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 100vh; /* Height scales with viewport height */
  background-image: url(/Images/keramikwand.jpeg);
  background-size: cover;
  background-position: center; /* Center the image for better scaling */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%; /* Adjust width to be a percentage of the screen */
  padding: 2rem; /* Add padding for spacing instead of fixed height */
  background-color: rgba(69, 140, 133, 0.70);
}

.image .page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem; /* Relative spacing */
  flex: 0 0 auto;
  margin-left: 1rem; /* Use relative margin */
}

.image .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 5vw; /* Font size scales with viewport width */
  letter-spacing: -0.02em; /* Scaled relative letter spacing */
  line-height: 1.2; /* Use relative line height */
  margin-left: 0.5rem; /* Use relative margin */
}



.card:hover{
  transform: scaleX(1.1) scaleY(1.1);
}

.carousel-indicators .active {
  background-color: #6c757d !important;
}

.carousel-indicators button {
  background-color: #adb5bd !important;
  border: none;
}

.carousel-indicators button:hover {
  background-color: #6c757d;
}



.footer .nav-link {
  color: #cdcbcb; /* Default link color */
  margin: 0 10px; /* Spacing between links */
}

.footer .nav-link.active {
  color: #ffffff; /* Highlight active link */
  font-weight: bold;
}


.map{
  
  width: 100%;
  height: 100vh; /* Height scales with viewport height */
}

.description-text{
  font-size: 12px;
}

.lighter-colored-text{
  color: #adb5bd;
}

/* Hintergrundfarbe grau für den Container */
.custom-bg-grey {
  background-color: rgb(224, 222, 222);
}

/* Zentrierung des Containers */
.centered-text {
  display: flex;
  flex-direction: column; /* Inhalte untereinander anordnen */
  align-items: center; /* Zentriert Inhalte horizontal */
  justify-content: center; /* Zentriert Inhalte vertikal */
  text-align: center; /* Text horizontal zentrieren */
  height: 100%; /* Nimmt die gesamte Höhe des Containers ein */
  margin: auto; /* Gleicher Abstand nach oben und unten */
  gap: 1rem; /* Optional: Abstand zwischen Absätzen */
}


/* Text-Container für zusätzliche Flexibilität */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikale Zentrierung des Textes */
  width: 90%; /* 95% der Breite des Containers */
}



