<div class="text-center my-3">
  <h1 class="my-5 color-scheme-text">Campussanierung</h1>
  <div class="row">
    <div class="col-12 col-md-6 custom-bg-grey" data-aos="fade-up" data-aos-duration="1500" >
      <img
        src="/Illustrationen/evolution_a.png"
        class="img-fluid"
        alt="ein Bild"
      />
      <div
        class="d-flex flex-row align-items-center justify-content-center my-3"
      >
        <div class="text-container centered-text">
          <p class="fst-italic">
            „Es ist Kunst und da hat dann jeder schon Respekt vor und da hängen
            möglicherweise Versicherungssummen dran. Das heißt, mit welchem
            Bauverfahren mache ich das, ja, bis am Ende mit welchem Sägeblatt
            säge ich das Teil durch, so dass es möglichst wenig kaputt geht? Das
            war schon eine Riesenherausforderung. Ich glaube, es hat 140 Tonnen
            gewogen und die mussten dann halt da raus.“
          </p>

          <p class="color-scheme-text description-text">
            Zitat aus einem Interview mit Mitarbeitenden des Dezernats 5 der RUB
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-6 d-flex flex-row align-items-center justify-content-center my-3" data-aos="fade-up" data-aos-duration="1500"
    >
      <div class="text-container centered-text">
        <div class="d-flex">
          <img src="/Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
          <div class="fw-semibold fst-italic">
            <p class="mb-0">Innenhof NA</p>
            <p class="mb-0">Hanns Holtwiesche – Evolution</p>
          </div>
        </div>
        <h2 class="color-scheme-text">
          Was passiert mit dem Kunst am Bau, wenn ein Gebäude im Zuge der
          Campussanierung abgerissen wird?
        </h2>
        <p>
          Im Rahmen der umfassenden Campussanierung an der RUB werden aktuell
          Ersatzneubauten für die Gebäude NA und GC geschaffen. Doch was
          passiert mit der Kunst am Bau, die sich in und an den Bauten befindet,
          wenn diese abgerissen werden?
        </p>
        <p>
          Ein Beispiel, über das wir in unseren Interviews mehr erfahren haben,
          ist die Betonskulptur „Evolution“ von Hanns Holtwiesche, welche sich
          im Innenhof des NA-Gebäudes befunden hat. Die Skulptur musste unter
          gutachterlicher Beaufsichtigung in mehrere Teile zersägt werden und
          wird nun in einer Außenliegenschaft der RUB gelagert bis sie am Neubau
          des NA-Gebäudes wieder zusammengefügt und aufgestellt werden kann.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <img
      src="/Illustrationen/NA.jpeg"
      class="img-fluid"
      style="width: 100%; height: 80vh"
      alt=""
    />
  </div>
  <div class="row">
    <div class="col-12 col-md-6 my-3" data-aos="fade-up" data-aos-duration="1500">
      <p class="mt-0 description-text lighter-colored-text">
        Standort des ehemaligen NA-Gebäudes im November 2024
      </p>
      <div class="text-container centered-text">
        <p>
          Wie an diesem Beispiel deutlich wird, stellt die angemessene
          Entfernung und Einlagerung der Kunstwerke im Rahmen der
          Campussanierung eine große Herausforderung dar. An diesem Prozess sind
          zahlreiche Akteure beteiligt, beispielsweise der Bau- und
          Liegenschaftsbetrieb NRW (BLB) als Eigentümer der Gebäude und der
          Kunstwerke, die beauftragten Baufirmen, aber auch die
          LWL-Denkmalpflege.
        </p>
        <p>
          Es stellt sich auch die Frage, welche Bedeutung die Entfernung und
          Einlagerung der Kunstwerke im Zuge der Umbaumaßnahmen für die
          wissenschaftliche Auseinandersetzung mit der Kunst am Bau an der RUB
          einnimmt. In unseren Interviews wird deutlich, dass diese Prozesse
          durchaus von Interesse für die wissenschaftlich verantwortlichen
          Kunstsammlungen sind und eine engere Begleitung der Maßnahmen
          wünschenswert wäre.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 custom-bg-grey" data-aos="fade-up" data-aos-duration="1500">
      <div
        class="d-flex flex-row align-items-center justify-content-center my-3"
      >
        <div class="text-container centered-text">
          <p class="fst-italic">
            „Wie kriegt man die da weg? Und wie kriegt man sie wieder hin? Also
            sie ist jetzt unter gutachterlicher Begleitung, ich glaube in 13
            Teile zersägt worden tatsächlich. Also wirklich mit vertikalen und
            horizontalen Schritten zersägt worden und mit großen Kränen da
            rausgehoben worden.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat aus einem Interview mit Mitarbeitenden des Dezernats 5 der RUB
          </p>
        </div>
        <img src="/Illustrationen/evolution_b.png" alt="" />
      </div>
    </div>
  </div>
</div>
