<div class="row">
  <div
    class="col-12 col-md-6 custom-bg-grey"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <img
      src="Illustrationen/Campussanierung_story/evolution_a.png"
      class="img-fluid"
      alt="Illustration zur Sanierung des Campus"
    />
    <div class="d-flex flex-row align-items-center justify-content-center my-3">
      <div class="text-container">
        <div class="quote-container">
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
          <div>
            <p class="fst-italic">
              „Es ist Kunst und da hat dann jeder schon Respekt vor und da
              hängen möglicherweise Versicherungssummen dran. Das heißt, mit
              welchem Bauverfahren mache ich das, ja, bis am Ende mit welchem
              Sägeblatt säge ich das Teil durch, so dass es möglichst wenig
              kaputt geht? Das war schon eine Riesenherausforderung. Ich glaube,
              es hat 140 Tonnen gewogen und die mussten dann halt da raus.“
            </p>
            <p class="color-scheme-text description-text">
              Zitat aus einem Interview mit Mitarbeitenden des Dezernats 5 der
              RUB
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-12 col-md-6 d-flex flex-row align-items-center justify-content-center my-3"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <div class="text-container">
      <div class="d-flex">
        <img src="Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
        <div class="fst-italic">
          <p class="mb-0 fw-bold">Innenhof NA</p>
          <p class="mb-0">Hanns Holtwiesche – Evolution</p>
        </div>
      </div>
      <h1 class="color-scheme-text py-3 fw-bolder">
        Was passiert mit der Kunst am Bau, wenn ein Gebäude im Zuge der
        Campussanierung rückgebaut wird?
      </h1>
      <p>
        Im Rahmen der umfassenden Campussanierung an der RUB werden aktuell
        Ersatzneubauten für die Gebäude NA und GC geschaffen. Doch was passiert
        mit der Kunst am Bau, die sich in und an den Bauten befindet, wenn diese
        rückgebaut werden?
      </p>
      <p>
        Ein Beispiel, über das wir in unseren Interviews mehr erfahren durften,
        ist die zehn Meter hohe Betonskulptur „Evolution“ (1969) von Hanns
        Holtwiesche, welche sich im Innenhof des NA-Gebäudes befunden hat. Im
        Rahmen des Rückbaus des Gebäudes wurde die Skulptur unter
        gutachterlicher Beaufsichtigung in mehrere Teile zersägt und wird nun in
        einer Außenliegenschaft der RUB gelagert. In dieser Geschichte wollen
        wir genauer betrachten, welche Akteure an diesen Prozessen beteiligt
        sind, welche Herausforderungen es gibt und wie es mit den Kunstwerken
        weitergeht.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <img src="Images/NA.jpeg" class="img-fluid" style="width: 100%" alt="NA Gebäude" />
</div>
<div class="row">
  <div class="col-12 col-md-6 my-3" data-aos="fade-up" data-aos-duration="1500">
    <p class="mt-0 description-text lighter-colored-text">
      Standort des ehemaligen NA-Gebäudes im November 2024
    </p>
    <div class="text-container centered-text">
      <p>
        Wie am Beispiel der Skulptur „Evolution“ deutlich wird, stellt die
        angemessene Entfernung und Einlagerung der Kunstwerke im Rahmen der
        Campussanierung eine große Herausforderung dar. An diesem Prozess sind
        zahlreiche Akteure beteiligt, beispielswiese der Bau- und
        Liegenschaftsbetrieb NRW (BLB) als Eigentümer der Gebäude und der
        Kunstwerke, die beauftragten Baufirmen, aber auch die LWL-Denkmalpflege.
        Besonders spannend ist, dass hier verschiedene Perspektiven auf die
        Kunst am Bau aufeinandertreffen. Auf der einen Seite stehen
        bautechnische Fragen im Vordergrund – Mit welchen Methoden und
        Werkzeugen kann die Kunst abgebaut werden? Wie geht man mit Kunstwerken
        um, die möglicherweise Schadstoff-belastet sind?
      </p>
    </div>
  </div>
  <div
    class="col-12 col-md-6 custom-bg-grey"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <div class="d-flex flex-row align-items-center justify-content-center my-3">
      <div class="text-container">
        <div class="quote-container">
          <div>
            <p class="fst-italic">
              „Wie kriegt man die da weg? Und wie kriegt man sie wieder hin?
              Also sie ist jetzt unter gutachterlicher Begleitung, ich glaube in
              13 Teile zersägt worden tatsächlich. Also wirklich mit vertikalen
              und horizontalen Schritten zersägt worden und mit großen Kränen da
              rausgehoben worden.“
            </p>
            <p class="color-scheme-text description-text">
              Zitat einer mitarbeitenden Person der Abteilung „Planen und Bauen“
              des Dezernat 5 der RUB
            </p>
          </div>
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        </div>
      </div>
      <img src="Illustrationen/Campussanierung_story/evolution_b.png" alt="" />
    </div>
  </div>
</div>
<div class="row">
  <img
    src="Images/gc_baustelle.jpeg"
    class="img-fluid"
    style="width: 100%"
    alt=""
  />
</div>
<div class="row" data-aos="fade-up" data-aos-duration="1500">
  <div class="col-12 col-md-6 custom-bg-grey">
    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „Das wäre ja spannend, auch die Hinterkonstruktion, die
            Aufhängekonstruktion, uns mal anzugucken. Und was für uns als
            Kunstsammlung dann wieder interessant wäre: Wie verankert man das?
            Ich meine, eine Tonne? Das ist ein irres Teil. Also wie bewegt man
            das? Und das finde ich interessant. Also wo fängt eigentlich die
            Wissenschaft an und wo geht das in die Praxis?“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person der Kunstsammlungen Moderne
          </p>
        </div>
      </div>
    </div>
    <img
      src="Illustrationen/Campussanierung_story/albers.png"
      alt="Illustration"
      class="img-fluid"
    />
  </div>

  <div class="col-12 col-md-6">
    <p class="mt-0 description-text lighter-colored-text">
      Standort des ehemaligen GC-Gebäudes im Januar 2025
    </p>
    <div class="text-container centered-text">
      <p>
        Auf der anderen Seite ist auch die wissenschaftliche Perspektive auf die
        betroffenen Kunstwerke in diesem Prozess sehr wichtig. Die Objekte
        werden unter gutachterlicher Begleitung abgebaut und von
        Restaurateur*innen betreut. Auch für die Kunstsammlungen Moderne, die an
        der RUB wissenschaftlich verantwortlich für die Kunst am Bau sind, sind
        die Abbauprozesse relevant, beispielsweise in Bezug auf die
        Hinterkonstruktionen der Kunstwerke. Dabei wurde in unserem Interview
        auch ein Interesse daran geäußert, stärker in die Ab- und Umbauprozesse
        miteinbezogen zu werden, um beispielsweise Dokumentationen erstellen zu
        können.
      </p>
      <p>
        Das entsprechende Zitat auf der linken Seite bezieht sich auf das Werk
        „Ohne Titel (Structural Constellation)“ von Josef Albers, welches im
        Rahmen des Rückbaus des GC-Gebäudes entfernt werden musste.
      </p>
    </div>
  </div>
</div>

<div class="row" data-aos="fade-up" data-aos-duration="1500">
  <div class="text-container centered-text">
    <p>
      Wie bereits an unserer Darstellung der Verteilung der Kunst am Bau-Werke
      auf die unterschiedlichen Bereiche des Campus deutlich geworden ist,
      befinden sich in und an manchen Gebäuden mehr Kunstwerke als an anderen.
      Vergleicht man die beiden Gebäude, für die momentan Ersatzneubauten
      entstehen, wird auch greifbar, dass der Aufwand diesbezüglich
      unterschiedlich hoch ist. In GC befand sich z. B. nur das Werk „Ohne Titel
      (Structural Constellation)“ (1972) von Josef Albers. Im und am NA-Gebäude
      sind hingegen mehr Werke vom Rückbau des Gebäudes betroffen, neben der
      bereits erwähnten Betonskulptur „Evolution“ auch eine Wandgestaltung von
      Henryk Dywan und eine Versorgungsschachtverkleidung aus Edelstahl von
      Erwin Heerich.
    </p>
  </div>
</div>

<div class="row custom-bg-grey">
  <img
    src="Illustrationen/Campussanierung_story/vergleich_gc_na.png"
    class="img-fluid"
    style="width: 100%"
    alt=""
  />
</div>

<div class="row" data-aos="fade-up" data-aos-duration="1500">
  <div class="text-container centered-text">
    <p>
      Die betroffenen Kunstwerke sind nun eingelagert bis die neuen Ersatzbauten
      entstehen. Dann sollen sie an ihre alten Standorte zurückkehren. Eine
      Ausnahme ist die Wandgestaltung von Henryk Dywan, die aufgrund von
      PCB-Belastung zukünftig wohl nur im Außenbereich des neuen NA-Gebäudes
      anstatt wie zuvor im Innenraum angebracht werden kann. Das Werk von Josef
      Albers aus dem GC-Gebäude verlässt seine Einlagerung derweilen als
      Leihstück und wird zeitweise im Museum Schloss Cappenberg in Selm
      ausgestellt.
    </p>
  </div>
</div>
