<div class="text-center my-3">
  <h1 class="my-5 color-scheme-text">TITEL</h1>
  <div class="row" data-aos="fade-up">
    <div class="col-6" style="background-color: rgb(224, 222, 222)">
      <div class="container">
        <img
          src="/Illustrationen/evolution_a.png"
          class="img-fluid"
          alt="ein Bild"
        />
        <p>
          "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet."
        </p>
        <p class="color-scheme-text">
          Zitat aus einem Interview mit Mitarbeitenden des Dezernats 5 der RUB
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="container px-3">
        <div class="d-flex align-items-center mb-3">
          <img src="/Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
          <div>
            <p class="mb-0">Lorem Ipsum</p>
            <p class="mb-0">Lorem Ipsum</p>
          </div>
        </div>
        <h2 class="color-scheme-text mb-3">
          Was passiert mit dem Kunst am Bau, wenn ein Gebäude im Zuge der
          Campussanierung abgerissen wird?
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
          mollitia aut accusantium, rerum est necessitatibus quisquam excepturi
          beatae totam? Quo, corrupti magnam officia quibusdam enim
          necessitatibus placeat. Itaque distinctio, vitae error cumque
          voluptatibus, natus ipsa sequi deleniti sunt tenetur fuga doloribus
          esse quod? Atque numquam aut voluptatem ea dolores quod in,
          accusantium quasi itaque sed inventore ex quisquam mollitia, facilis
          illum eos voluptatibus qui magni. Hic molestiae veniam ipsum quod
          quibusdam possimus placeat iste nostrum earum ratione unde, qui
          dignissimos illo blanditiis architecto quisquam exercitationem!
          Inventore, aut totam magnam suscipit dicta omnis corrupti
          exercitationem unde assumenda iure, ex debitis praesentium.
        </p>
      </div>
    </div>
  </div>
  <div class="row" data-aos="fade-up">
    <img
      src="/Images/keramikwand.jpeg"
      class="img-fluid"
      style="width: 100%; height: 80vh"
      alt=""
    />
  </div>
  <div data-aos="fade-up" class="row">
    <div class="col-6">
      <div class="container my-3">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          eligendi rem, culpa quos deleniti quia minima, animi quas iste sed
          earum quis molestiae cum voluptates voluptatem consequatur sapiente
          explicabo nostrum a tempora saepe aperiam! Molestiae ab cumque quaerat
          amet pariatur velit, autem enim voluptatum? Incidunt perferendis
          voluptatem necessitatibus cum totam quis. Consequatur dolorum, nulla
          fugit harum soluta debitis enim dicta? Natus neque soluta eveniet
          corporis eligendi voluptates deserunt. Impedit, amet?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum commodi
          delectus ea tenetur ipsam modi, fugit iure doloremque minima obcaecati
          ad sed optio! Culpa ratione, quos aliquam autem pariatur accusantium
          nemo id in quas cumque minima officia odit dolor, enim praesentium
          eligendi. Voluptatum, quia dolor eveniet ad doloribus suscipit, unde
          omnis rem nisi aliquam magnam ratione ex nulla? Cupiditate, odio
          expedita quasi veritatis quidem ad doloremque ipsa nemo repudiandae,
          ullam impedit exercitationem laborum saepe rem dolore dolorum quo
          consequuntur commodi.
        </p>
      </div>
    </div>
    <div class="col-6" style="background-color: rgb(224, 222, 222)">
      <div class="d-flex flex-row my-3 ">
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
            repellat a libero. Atque earum omnis, reiciendis at tempore eligendi
            enim. Aspernatur asperiores optio perferendis omnis quo delectus
            nihil! Corporis aut at soluta tempore quia? Ex repudiandae quaerat
            dolorum molestiae, dolores adipisci mollitia veniam distinctio enim
            quos facere officia, rerum alias?
          </p>
          <p class="color-scheme-text">
            Zitat aus einem Interview mit Mitarbeitenden des Dezernats 5 der RUB
          </p>
        </div>
        <div>
          <img src="/Illustrationen/evolution_b.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
