<div class="row custom-bg-grey">
  <div class="col-12 col-md-4">
    <div class="d-flex mt-4">
      <img src="Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
      <div class="fst-italic">
        <p class="mb-0 fw-bold">Forumsplatz vor der Kunstsammlung</p>
        <p class="mb-0">Yaacov Agam – toutes directions</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <h1 class="color-scheme-text py-3 fw-bolder">
      Was passiert, wenn Kunst zur Gefahr wird?
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <img
      src="Illustrationen/Gefahr_story/01partizipativ.png
        "
      class="img-fluid"
      alt="partizipativ"
    />
  </div>
  <div class="col-12 col-md-6">
    <div class="text-container centered-text">
      <div>
        <p>
          Kunst auf dem Campus kann partizipativ sein. Zum Beispiel durch
          interaktive, bewegbare Elemente. Aber was passiert, wenn die
          Funktionsfähigkeit nachlässt und das Kunstwerk zur Gefahr wird?
        </p>
        <p>
          Dann spielen nicht mehr nur ästhetische und partizipative Kriterien
          eine Rolle, sondern die Sicherheit der Campus Nutzenden. Im Zweifel
          muss das Kunstwerk abgebaut werden und verschwindet. Aber was bleibt?
        </p>
        <p>
          Das ist die Geschichte von Yaacov Agams Kunstwerk Toutes Directions
          auf dem Forumsplatz. Der Künstler legte es auf Beteiligung und
          Veränderung aus. Die verchromten Edelstahlröhren ließen sich nicht nur
          in alle Richtungen bewegen, sondern spiegeln auch ihre Umgebung.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row custom-bg-grey">
  <div class="col-12 col-md-5">
    <div class="text-container centered-text">
      <div>
        <p>
          Das Kunstwerk wurde durch seinen eigenen Charakter zu einer Gefahr.
          Die Streben wurden so häufig in Anspruch genommen, dass sie sich
          lockerten und somit Potential hatten Nutzende und Vorbeilaufende zu
          verletzen
        </p>
      </div>
      <div>
        <div class="quote-container">
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
          <div>
            <p class="fst-italic">
              „Das ist glaube ich auch immer wieder spannend, sich das nochmal
              so vor Augen zu führen, wie die Symbiose zwischen Architektur und
              Kunstwerk eben so gedacht war, die ja auch an manchen Stellen
              nicht funktioniert hat. [...] Was kann man da wieder ins
              Bewusstsein holen?“
            </p>
            <p class="color-scheme-text description-text">
              Zitat einer mitarbeitenden Person des kunstgeschichtlichen
              Instituts der RUB
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <img
      src="Illustrationen/Gefahr_story/arrow_down_2.png"
      class="img-fluid move-down ms-auto d-block arrow-icon"
      alt="nach unten zeigender Pfeil"
      style="margin-top: -100%"
    />
  </div>
  <div class="col-12 col-md-5">
    <img
      src="Illustrationen/Gefahr_story/02unsicher.png"
      class="img-fluid"
      alt="Unsicherheit Bild"
    />
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-5">
    <img
      src="Illustrationen/Gefahr_story/03nicht_partizipativ.png
          "
      class="img-fluid"
      alt="partizipativ"
    />
  </div>
  <div class="col-12 col-md-2">
    <img
      src="Illustrationen/Gefahr_story/arrow_diagonal.png"
      class="img-fluid move-down ms-auto d-block arrow-icon"
      alt="diagonal zeigender Pfeil"
      style="margin-top: -40%"
    />
  </div>
  <div class="col-12 col-md-5">
    <div class="text-container centered-text">
      <div>
        <p>
          Das Kunstwerk wurde stillgelegt und seiner partizipativen Funktion
          beraubt, um weiterhin sicher für Passant:innen zu sein. Außerdem wurde
          mit der Familie des Künstlers Kontakt aufgenommen, um das weitere
          Verfahren zu besprechen
        </p>
      </div>
      <div>
        <div class="quote-container">
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
          <div>
            <p class="fst-italic">
              „Das ist glaube ich auch immer wieder spannend, sich das nochmal
              so vor Augen zu führen, wie die Symbiose zwischen Architektur und
              Kunstwerk eben so gedacht war, die ja auch an manchen Stellen
              nicht funktioniert hat. [...] Was kann man da wieder ins
              Bewusstsein holen?“
            </p>
            <p class="color-scheme-text description-text">
              Zitat einer mitarbeitenden Person des kunstgeschichtlichen
              Instituts der RUB
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row custom-bg-grey">
  <div class="col-12 col-md-5">
    <div class="text-container centered-text">
      <div>
        <p>
          Schließlich wurde eine Entscheidung getroffen. Das Kunstwerk wurde
          entfernt. Zu finden ist anstatt seiner ein rostiger Fleck auf dem
          Boden vor dem Forumsplatz, wo es einst stand.
        </p>
        <p>Ist seine Geschichte nun vorbei?</p>
      </div>
      <div>
        <div class="quote-container">
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
          <div>
            <p class="fst-italic">
              „Also wenn wir jetzt […] ein Kunstwerk aufgrund von […] Gefahr für
              Leib und Leben oder so entfernen müssen. Wir haben halt ein
              Kunstwerk […] wirklich auch abgenommen deswegen“
            </p>
            <p class="color-scheme-text description-text">
              Zitat einer mitarbeitenden Person des Dezernat 5
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <img
      src="Illustrationen/Gefahr_story/arrow_downtoright.png"
      class="img-fluid arrow-icon"
      alt="nach unten zeigender Pfeil"
      style="margin-top: -50%"
    />
  </div>
  <div class="col-12 col-md-5">
    <img
      src="Images/fleck_verschwundenes_kunstwerk.jpeg"
      class="img-fluid scaled-down-img ms-auto d-block"
      alt="verschwundenes Kunstwerk Fleck Bild"
    />
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-2">
    <img
      src="Illustrationen/Gefahr_story/arrow_downtoleft.png"
      class="img-fluid move-down ms-auto d-block arrow-icon"
      alt="nach unten zeigender Pfeil"
    />
  </div>
  <div class="col-12 col-md-6 offset-md-2 move-up">
    <img
      src="Illustrationen/Gefahr_story/04verschwunden.png"
      class="img-fluid"
      alt="verschwunden Bild"
    />
    <div class="text-container">
      <p>
        Der gelebte Raum, der sich durch das partizipative Element konstituiert
        hatte, kam in Konflikt mit dem geplanten Raum, der Sicherheit fordert.
        Die Folge war die Entfernung des Kunstwerkes, wodurch es aus unserem
        wahrgenommenen Raum verschwindet.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <img
      src="Illustrationen/Gefahr_story/arrow_downtoright.png"
      class="img-fluid move-down ms-auto d-block arrow-icon"
      alt="nach unten zeigender Pfeil"
    />
  </div>
</div>

<div class="row custom-bg-grey">
  <div class="col-12 col-md-3">
    <div class="centered-text">
      <img
        src="Illustrationen/Gefahr_story/toutes_directions_b.png
            "
        class="img-fluid"
        alt="partizipativ"
      />
      <div class="pt-0 description-text lighter-colored-text">
        <p>Digitalisiertes Kunstwerk?</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „Und dieses wenigstens was machen, das finde ich, wäre für die RUB
            toll […] wenn also eine Arbeit abgebaut wird, was manchmal
            vielleicht eben einfach wirklich sein muss, wenn an der Stelle dann
            ein kleiner Hinweis geschieht, eine Intervention, was auch immer.
            Etwas, was vielleicht mit, in kleinerer Dimension funktioniert. Und
            es muss nicht weniger intensiv sein.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person des Musischen Zentrums
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="centered-text">
      <img
        src="Illustrationen/Gefahr_story/toutes_directions_steele.png
            "
        class="img-fluid"
        alt="partizipativ"
      />
      <div class="pt-0 description-text lighter-colored-text">
        <p>Steele zum Erinnern?</p>
      </div>
    </div>
  </div>
</div>
