<div class="row">
  <div class="col-12 col-md-3">
    <div class="d-flex mt-4">
      <img src="Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
      <div class="fst-italic align-self-center">
        <p class="mb-0 fw-bold">Zu- und Abfahrt zur Universität</p>
        <p class="mb-0">Graffiti-Freifläche</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <h1 class="color-scheme-text py-3 fw-bolder text-center">
      Parallelwelten
    </h1>
  </div>
</div>
