<div class="row mt-5 pt-5">
  <div class="col-12 col-lg-4">
    <div class="d-flex mt-4">
      <img src="Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
      <div class="fst-italic align-self-center">
        <p class="mb-0 fw-bold">Zu- und Abfahrt zur Universität</p>
        <p class="mb-0">Graffiti-Freifläche</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 text-center">
    <h1 class="color-scheme-text py-3 fw-bolder text-center">Parallelwelten</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="text-container">
      <p>
        Fährt man mit dem Auto in das zentrale Parkhaus der RUB oder verlässt es
        wieder, so eröffnet sich eine Parallelwelt: Die Graffiti-Freifläche -
        ein hochwertiger Kunstraum, der nichts mit der Kunst am Bau des
        Universitätscampus zu tun hat – oder vielleicht doch? In dieser
        Geschichte wollen wir die beiden Parallelwelten der
        hochinstitutionalisierten Kunst am Bau und der legalen, aber
        nicht-institutionalisierten Graffiti-Kunst auf der Freifläche erkunden.
        Wie sind die entstanden und durch welche Regeln werden sie bestimmt? Am
        Ende steht die Frage, ob diese beiden Parallelwelten in Berührung kommen
        können und ob sie das überhaupt möchten.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6"></div>
  <div class="col-12 col-md-6 custom-bg-grey">
    <img
      src="Images/betonrelief_dywan.jpeg"
      alt="Betonrelief Dywan"
      class="img-fluid"
    />
    <div class="text-container">
      <p>
        Dieses Betonrelief von Henryk Dywan über der Ausfahrt aus dem zentralen
        Parkhaus der RUB markiert die Grenze zwischen dem Campus und seiner
        Kunst am Bau und der davor gelegenen Graffiti-Freifläche. Es ist 1973
        zur Hochphase der Kunst am Bau auf dem Campus der RUB entstanden.
      </p>
      <p>
        Damals, Anfang der 1970er Jahre, wurde eine Kommission gegründet, die
        ein Kunst am Bau-Konzept für die Ruhr-Universität erarbeiten sollte.
        Kunst am Bau-Programme gibt es schon seit der Weimarer Republik, im
        Laufe der 1970er Jahre entstanden dann in der Bundesrepublik jedoch
        neue, modernere Programme (Heindl/Hoppe-Sailer/Mastnak-Walisko, 2015, S.
        4).
      </p>
    </div>

    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „Also man muss vielleicht noch dazu sagen, das ist ganz wichtig,
            dass es natürlich auch von Seiten der Bundesregierung damals
            Vorgaben zu Kunst am Bau gab. In der DDR gab es das auch. Das heißt,
            schon in der Weimarer Republik gibt es im Prinzip diese Vorstellung,
            wenn Neubauten auch aus öffentlichen Geldern finanziert werden,
            sollte man die schmücken oder eben die Kunst am Bau als Bauaufgabe
            haben.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person der Kunstsammlungen Moderne der
            RUB
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex flex-md-row">
      <div class="text-container">
        <p>
          Welche Regelungen es in diesem Bereich alle gibt, zeigt ein Blick in
          den „Leitfaden Kunst am Bau“ des Bundesministeriums für Verkehr, Bau
          und Stadtentwicklung. Im Folgenden zwei Beispiele:
        </p>
      </div>
      <img
        src="Illustrationen/Parallelwelten_story/leitfaden_kunst_am_bau.png"
        alt="Leitfaden für Kunst am Bau Buch"
        class="img-fluid"
      />
    </div>

    <div class="text-container">
      <p>
        Unter <b>„Kunstwettbewerbe“</b> wird dargelegt, warum Wettbewerbe eine
        besonders geeignete Methode darstellen, um die Qualität der Kunst am Bau
        sicherzustellen. Es wird unterschieden zwischen offenen Wettbewerben mit
        einer unbegrenzten Zahl an Bewerber*innen sowie nichtoffenen
        Wettbewerben, bei denen Künstler*innen über Einladung oder ein
        Bewerbungsverfahren ausgewählt werden. Nur wenn ein Wettbewerb nicht
        möglich ist, soll Kunst im Ankaufverfahren erworben werden. Die
        Wettbewerbe werden von der Bundesbauverwaltung selbst durchgeführt und
        müssen genau dokumentiert werden (Bundesministerium für Verkehr, Bau und
        Stadtentwicklung, 2012, S. 14-17).
      </p>
    </div>

    <div class="text-container">
      <p>
        Unter <b>„Verantwortlichkeit“</b> ist festgelegt, dass die Kunst am Bau,
        da sie mit dem Bauwerk in Verbindung steht, in die Verantwortlichkeit
        des Eigentümers der Liegenschaft übergeht. Dieser ist somit dafür
        zuständig, sie instand zu halten und wenn notwendig
        Restaurierungsmaßnahmen einzuleiten. Bei Veränderungen der Liegenschaft
        ist die Kunst am Bau möglichst am gleichen Ort zu erhalten. Sie darf nur
        in Ausnahmefällen entfernt werden (ebd. S. 22f).
      </p>
    </div>
  </div>
</div>
