<div class="mt-5 pt-5">
  <div class="row custom-bg-grey" data-aos="fade-up" data-aos-duration="1500">
    <div class="col-12 col-lg-4">
      <div class="d-flex mt-4">
        <img src="Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
        <div class="fst-italic align-self-center">
          <p class="mb-0 fw-bold">Zu- und Abfahrt zur Universität</p>
          <p class="mb-0">Graffiti-Freifläche</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 text-center">
      <h1 class="color-scheme-text py-3 fw-bolder text-center">
        Parallelwelten
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="text-container">
      <p>
        Fährt man mit dem Auto in das zentrale Parkhaus der RUB oder verlässt es
        wieder, so eröffnet sich eine Parallelwelt: Die Graffiti-Freifläche -
        ein hochwertiger Kunstraum, der nichts mit der Kunst am Bau des
        Universitätscampus zu tun hat – oder vielleicht doch? In dieser
        Geschichte wollen wir die beiden Parallelwelten der
        hochinstitutionalisierten Kunst am Bau und der legalen, aber
        nicht-institutionalisierten Graffiti-Kunst auf der Freifläche erkunden.
        Wie sind die entstanden und durch welche Regeln werden sie bestimmt? Am
        Ende steht die Frage, ob diese beiden Parallelwelten in Berührung kommen
        können und ob sie das überhaupt möchten.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="text-container">
      <p>
        Die Graffiti Freiflächen in Bochum sind in den 90er Jahren auf
        Initiative von Sprayer:innen entstanden. Sie wendeten sich an das
        Jugendamt Bochum, um verbindlich Flächen zur Verfügung gestellt zu
        bekommen auf denen sie legal sprühen könnten. Zuvor hatten sie lediglich
        kipplige Zusagen und Erlaubnisse bekommen, die sie nicht vor Anzeigen
        bewahrten. Der damals zuständige Streetworker brachte den Prozess
        daraufhin ins Rollen. Es wurde mit verschiedenen Akteuren und
        Institutionen der Stadt Bochum vom Ordnungsamt bis zum Tiefbauamt zur
        Innerstädtischen Strategie ausgebaut. Alle Seiten sahen die Vorteile:
        Die Anwohnenden haben keinen Grund mehr zur Beschwerde, das Ordnungsamt
        und die Polizei müssen weniger illegalen Graffiti nachgehen und die
        Sprayer:innen können seitdem legal ihrer Leidenschaft nachgehen.
      </p>
    </div>
    <div class="d-flex flex-row-md">
      <div class="text-container">
        <p>
          An der Gestaltung der Freifläche an der Ein- und Ausfahrt der RUB
          beteiligen sich viele verschiedene Akteure. Dabei handelt es sich um
          Crews, Kollektive und Einzelpersonen, aber durchgängig um Profis.
          Bundesweit sei sie in der Szene aufgrund ihrer Größe und Güteklasse
          bekannt, unser Ansprechpartner beim Jugendamt betitelt die Fläche als
          „Bundesliga“. Hier haben wir einen Eindruck für euch:
        </p>
      </div>
      <img
        src="Illustrationen/Parallelwelten_story/spraydosen.png"
        alt="Spraydosen Illustration"
        class="img-fluid"
      />
    </div>

    <video width="500" controls class="rounded mx-auto d-block">
      <source src="Videos/graffitiwand.mp4" type="video/mp4" />
      Your browser does not support HTML video.
    </video>

    <div class="text-container">
      <p>
        Beim Durchlaufen wirkt sie sehr düster, schon fast zwielichtig. Die
        Lichter flackern und durch den Tunnel schallen die Geräusche der Autos
        besonders laut. Zwischendurch hört man dumpf eine U35 oben ein- oder
        abfahren. Hier hin verläuft sich nur selten ein Fußgänger. Sie wirkt wie
        eine Parallelwelt.
      </p>
      <p>
        Gleichzeitig ist sie ein hochwertiger Kunstraum. Die Malereien sind
        selbst für einen Laien ersichtlich sehr aufwendig und sorgsam
        angefertigt. Hier (wie auch an ähnlichen Stellen) gelten dementsprechend
        Regeln, teils unausgesprochen, teils explizit:
      </p>
    </div>
    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „jeder kann malen. Sieben Tage die Woche, 24 Stunden. Haben wir halt
            nur so ein ganz leichtes Regelwerk, das ist ja klar. […] Also am
            besten nur das übermalen, was man mindestens genauso gut selber
            hinkriegt. Einfach so eine Respektfrage. Und jetzt nicht gerade die
            ersten Gehversuche in so einem 10 Meter Bild machen, das kommt nicht
            gut an! (lacht) Kostet ja auch eine Menge Geld, das muss man sich
            mal sagen. Das übernehmen die Künstlerinnen ja alles selber.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person des Jugendamtes Bochum
          </p>
        </div>
      </div>
    </div>

    <div class="text-container">
      <p>
        Denn mittlerweile laufen die Flächen selbstorganisiert. Unser
        Interviewpartner betont, dass diskriminierende Inhalte z.B. rassistische
        von der Szene durch Übermalen selbst behoben werden, das sei eine
        Grundregel.
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 custom-bg-grey">
    <img
      src="Images/betonrelief_dywan.jpeg"
      alt="Betonrelief Dywan"
      class="img-fluid rounded mx-auto d-block"
    />
    <div class="text-container">
      <p>
        Dieses Betonrelief von Henryk Dywan über der Ausfahrt aus dem zentralen
        Parkhaus der RUB markiert die Grenze zwischen dem Campus und seiner
        Kunst am Bau und der davor gelegenen Graffiti-Freifläche. Es ist 1973
        zur Hochphase der Kunst am Bau auf dem Campus der RUB entstanden.
      </p>
      <p>
        Damals, Anfang der 1970er Jahre, wurde eine Kommission gegründet, die
        ein Kunst am Bau-Konzept für die Ruhr-Universität erarbeiten sollte.
        Kunst am Bau-Programme gibt es schon seit der Weimarer Republik, im
        Laufe der 1970er Jahre entstanden dann in der Bundesrepublik jedoch
        neue, modernere Programme (Heindl/Hoppe-Sailer/Mastnak-Walisko, 2015, S.
        4).
      </p>
    </div>

    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „Also man muss vielleicht noch dazu sagen, das ist ganz wichtig,
            dass es natürlich auch von Seiten der Bundesregierung damals
            Vorgaben zu Kunst am Bau gab. In der DDR gab es das auch. Das heißt,
            schon in der Weimarer Republik gibt es im Prinzip diese Vorstellung,
            wenn Neubauten auch aus öffentlichen Geldern finanziert werden,
            sollte man die schmücken oder eben die Kunst am Bau als Bauaufgabe
            haben.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person der Kunstsammlungen Moderne der
            RUB
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex flex-md-row">
      <div class="text-container">
        <p>
          Welche Regelungen es in diesem Bereich alle gibt, zeigt ein Blick in
          den „Leitfaden Kunst am Bau“ des Bundesministeriums für Verkehr, Bau
          und Stadtentwicklung. Im Folgenden zwei Beispiele:
        </p>
      </div>
      <img
        src="Illustrationen/Parallelwelten_story/leitfaden_kunst_am_bau.png"
        alt="Leitfaden für Kunst am Bau Buch"
        class="img-fluid"
      />
    </div>

    <div class="text-container">
      <p>
        Unter <b>„Kunstwettbewerbe“</b> wird dargelegt, warum Wettbewerbe eine
        besonders geeignete Methode darstellen, um die Qualität der Kunst am Bau
        sicherzustellen. Es wird unterschieden zwischen offenen Wettbewerben mit
        einer unbegrenzten Zahl an Bewerber*innen sowie nichtoffenen
        Wettbewerben, bei denen Künstler*innen über Einladung oder ein
        Bewerbungsverfahren ausgewählt werden. Nur wenn ein Wettbewerb nicht
        möglich ist, soll Kunst im Ankaufverfahren erworben werden. Die
        Wettbewerbe werden von der Bundesbauverwaltung selbst durchgeführt und
        müssen genau dokumentiert werden (Bundesministerium für Verkehr, Bau und
        Stadtentwicklung, 2012, S. 14-17).
      </p>
    </div>

    <div class="text-container">
      <p>
        Unter <b>„Verantwortlichkeit“</b> ist festgelegt, dass die Kunst am Bau,
        da sie mit dem Bauwerk in Verbindung steht, in die Verantwortlichkeit
        des Eigentümers der Liegenschaft übergeht. Dieser ist somit dafür
        zuständig, sie instand zu halten und wenn notwendig
        Restaurierungsmaßnahmen einzuleiten. Bei Veränderungen der Liegenschaft
        ist die Kunst am Bau möglichst am gleichen Ort zu erhalten. Sie darf nur
        in Ausnahmefällen entfernt werden (ebd. S. 22f).
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="text-container">
      <p>
        Aber wie steht es nun um die Beziehung dieser beiden Parallelwelten
        zueinander? Wissen sie voneinander? Inspirieren sie sich gegenseitig?
        Gibt es Kooperationen? Aus unseren Interviews mit Mitarbeitenden des
        Musischen Zentrums der RUB und einer für die Graffiti-Freiflächen
        verantwortlichen Person beim Jugendamt Bochum geht hervor, dass die
        Welten tatsächlich größtenteils isoliert voneinander existieren und
        keinen Bezug aufeinander nehmen. Was jedoch die Interviewpartner*innen
        beider Seiten betonen, ist das Interesse der Studierenden an der
        Graffiti-Freifläche. In diesem Bereich gab es bereits Kooperationen und
        auch die Mitarbeitenden des Musischen Zentrums zeigten Interesse daran,
        diese Kommunikationsform und ihre visuellen Elemente auch noch mehr auf
        den Campus zu bringen.
      </p>
    </div>
  </div>
</div>

<div class="row custom-bg-grey">
  <div class="col-12 col-md-6">
    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „Ich meine, aus der Studierendenschaft gab es auf jeden Fall immer
            wieder schon mal Interesse genau dazu. […] Dann gab es auch mal so
            verschiedene Graffiti Jams, die dann von der Uni oder von dort
            tätigen Menschen so mit organisiert wurden.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person des Jugendamtes Bochum
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="text-container">
      <div class="quote-container">
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
        <div>
          <p class="fst-italic">
            „Von daher ist das, was da unten passiert, sehr ernsthafte, sehr
            ernsthaft betriebene Kunst, formal gut, aber auch nicht so, dass man
            denkt, okay, von hier aus geht ein entscheidender Impuls aus, der
            vielleicht für die […] Kunst am Bau in der RUB hilfreich wäre.
            Sondern es ist tatsächlich nebeneinander und es hat zu wenig
            miteinander zu tun.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person des musischen Zentrums der RUB
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row custom-bg-grey">
  <div class="col-12 col-md-4">
    <div class="text-container">
      <div class="quote-container">
        <div>
          <p class="fst-italic">
            „Aber ansonsten so von hochoffizieller Seite eigentlich nichts. Aber
            ist auch manchmal gar nicht so schlecht. Die sollen das einfach mal
            lassen, einfach mal die Leute da malen lassen und da passiert ja
            nichts.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person des Jugendamtes Bochum
          </p>
        </div>
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <img
      src="Illustrationen/Parallelwelten_story/parallelwelten.png"
      alt="Leitfaden für Kunst am Bau Buch"
      class="img-fluid move-up"
    />
  </div>
  <div class="col-12 col-md-4">
    <div class="text-container">
      <div class="quote-container">
        <div>
          <p class="fst-italic">
            „Also man könnte jetzt daraus lernen, ja, wir könnten diese Technik
            aufnehmen und mal schauen, wo gibt es denn Freewalls auf dem Campus,
            wo es viel stärker um Kommunikation geht.“
          </p>
          <p class="color-scheme-text description-text">
            Zitat einer mitarbeitenden Person des musischen Zentrums der RUB
          </p>
        </div>
        <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
      </div>
    </div>
  </div>
</div>
