<div class="text-center my-3">
  <div class="d-flex ">
    <img src="Icons/teal_smaller.png" alt="Map Pin" class="mx-3" />
    <div class="fw-semibold fst-italic">
      <p class="mb-0">Forumsplatz</p>
      <p class="mb-0">Erich Reusch – Wasserrelief</p>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row">
    <div class="left-row" data-aos="fade-up" data-aos-duration="1500">
      <div class="row">
        <div class="col-12">
          <div class="text-container">
            <h1 class="color-scheme-text text-center pb-3 fw-bolder">
              Wo steckt die Utopie in der Kunst auf dem Campus?
            </h1>
            <p>
              Ein Begriff, der uns während unserer Forschung immer wieder
              begegnet ist, ist der der Utopie. Die Ruhr-Universität war die
              erste Universitätsneugründung in Deutschland nach dem
              Nationalsozialismus. Ihre Besonderheit liegt darin, dass sie als
              monumentales Prestigeprojekt in Zeiten der Euphorie der
              Bildungsexpansion entstand und erstmals die Möglichkeit bot, eine
              Universität in Deutschland von Grund auf neu zu planen (Stallmann,
              S. 174ff). Gleichzeitig steht sie mit ihrem Standort mitten im
              Ruhrgebiet für den Wandel der Universität von der Eliten- zur
              Massenausbildungsstätte und die erfolgreiche Integration von
              Arbeiter:innenkindern in das tertiäre Bildungssystem (ebd. S. 171,
              S. 182f).
            </p>
            <p>
              Diese Vision spiegelt sich auch in der brutalistischen Architektur
              und der mit ihr korrespondieren abstrakten Kunst am Bau der RUB
              wieder. Die Universität als „riesenhaftes und kompaktes
              Gesamtbauwerk“ (ebd. S. 176) soll vor allem einer sehr großen
              Anzahl an Studierenden dienen. Gleichzeitig soll die RUB als
              eigene Universitätsstadt den Studierenden und Forschenden auch
              einen idealen Raum des Lernens und des Austausches bieten. Als
              Teil dieses Anspruchs lassen sich beispielsweise die
              künstlerischen Gestaltungen der Forumsplätze verstehen, die
              Wasser- und Naturelemente inkorporieren, um attraktive
              Aufenthaltsräume zu schaffen.
            </p>
            <p>
              An vielen Stellen funktionieren diese Kunstwerke und
              Landschaftsgestaltungen aber nicht mehr so, wie sie ursprünglich
              geplant waren. Ein Beispiel dafür ist der von Georg Penker
              konzipierte Bachlauf im Bereich des Querforums Ost, den eine
              unserer Vorgänger-Projektgruppe in Form einer
              <a
                href="https://datastories.rub.de/bergbachlauf/dist/bergbachlauf/"
                >Data Story</a
              >
              digital wiederbelebt hat. Ein anderes Beispiel, mit dem wir uns
              hier beschäftigen wollen, ist das Wasserrelief von Erich Reusch,
              welches sich auf dem zentralen Forumsplatz befindet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-row" data-aos="fade-up" data-aos-duration="1500">
      <div class="row">
        <div class="col custom-bg-grey">
          <div class="text-container centered-text">
            <div class="quote-container">
              <img
                src="Icons/quote.png"
                alt="quotation marks"
                class="quote-img"
              />

              <p class="fst-italic">
                „Und was jetzt das Räumliche betrifft, also die Uni als solche,
                das wissen Sie ja selber, das ist also quasi eine große Utopie.
                Es ist die erste Gründung nach dem Nationalsozialismus und da
                ist natürlich dieses Statement des Antifaschismus zuzüglich
                dieser abstrakten Kunst, die wir haben. [...] Und das ist
                insgesamt als Kombination ein Statement.“
              </p>
            </div>
            <p class="color-scheme-text description-text">
              Zitat einer mitarbeitenden Person der Kunstsammlungen Moderne der
              RUB
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col custom-bg-grey">
          <div class="text-container centered-text">
            <div class="quote-container">
              <img
                src="Icons/quote.png"
                alt="quotation marks"
                class="quote-img"
              />
              <p class="fst-italic">
                „Das ist glaube ich auch immer wieder spannend, sich das nochmal
                so vor Augen zu führen, wie die Symbiose zwischen Architektur
                und Kunstwerk eben so gedacht war, die ja auch an manchen
                Stellen nicht funktioniert hat. [...] Was kann man da wieder ins
                Bewusstsein holen?“
              </p>
            </div>
            <p class="color-scheme-text description-text">
              Zitat einer mitarbeitenden Person des kunstgeschichtlichen
              Instituts der RUB
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <img
      src="Images/wasserrelief_foto.jpeg"
      class="img-fluid"
      style="width: 100%; height: auto"
      alt="wasserrelief foto"
    />
  </div>

  <div class="row my-4">
    <div class="col col-md-5">
      <div class="text-container centered-text">
        <p>
          Das Wasserrelief besteht aus quadratischen Granitplatten, welche durch
          Vertiefungen voneinander getrennt sind. Bei dem Kunstwerk handelt es
          sich um eine Brunnenanlage, durch die Vertiefungen sollte also
          eigentlich Wasser fließen. Diese Inkorporierung des Wassers in das
          Werk beinhaltet nicht nur eine kühlende klimatische Wirkung auf dem
          größtenteils versiegelten Forumsplatz, sondern gibt dem Wasserrelief
          durch das Wasserplätschern auch eine zusätzliche akustische Dimension
          (Honikel, 2015, S. 42f).
        </p>
        <p>
          Die Brunnenanlage funktionierte jedoch nur wenige Jahre bevor die
          Technik dahinter versagte. Seitdem liegt das Kunstwerk im Trockenen.
          Heute ist der ursprüngliche Entwurf des Werkes somit nicht mehr ohne
          weiteres zu erkennen.
        </p>
      </div>
    </div>

    <div class="col col-md-7 custom-bg-grey">
      <div class="text-container">
        <h2 class="color-scheme-text text-center fw-semibold">
          Ein Gang durch das Wasserrelief
        </h2>
        <p class="pt-3">
          Mit diesem Video möchten wir einen zusätzlichen Eindruck der
          räumlichen Wirkung des Wasserreliefs vermitteln. Spannend ist für uns
          insbesondere, wie es sich gleichzeitig in seine Umgebung einfügt, beim
          Durchschreiten aber doch das Gefühl entsteht, sich in einem eigenen
          Raum zu befinden.
        </p>
      </div>
      <video width="500" controls>
        <source src="Videos/wasserrelief_video.mp4" type="video/mp4" />
        Your browser does not support HTML video.
      </video>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12 col-md-6 custom-bg-grey">
      <div class="text-container">
        <div class="quote-container">
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
          <p class="fst-italic">
            „Der Reusch, also dieser Brunnen da vorne, das erkennt man einfach
            nicht und ich finde es aber auch legitim. Also ich muss das wirklich
            sagen. Also wer definiert, was Kunst ist? Und ist es normativ oder
            kann nicht jemand ganz anderes? Also kann man da nicht auch anders
            mit umgehen? Und ist es dann nicht eigentlich auch okay?“
          </p>
        </div>
        <p class="color-scheme-text description-text">
          Zitat einer mitarbeitenden Person des Kunstsammlungen Moderne der RUB
        </p>
      </div>
      <img
        src="Illustrationen/wasserrelief_a.png"
        class="img-fluid"
        alt="wasserrelief Illustration"
      />
      <div class="text-container">
        <div class="quote-container">
          <img src="Icons/quote.png" alt="quotation marks" class="quote-img" />
          <p class="fst-italic">
            „Mir geht noch eine Sache durch den Kopf. Das ist auch ein Kölner
            Beispiel, ein Brunnen, der für Jahrzehnte vernachlässigt worden war
            […] und da hat dann eine Künstlerin mal angefangen, diesen Brunnen,
            der seit Jahrzehnten trocken war, eben mit ein bisschen
            Mineralwasser zu benetzen. Sowas könnte ich mir für den zentralen
            Brunnen hier in Bochum an der RUB auch vorstellen, damit man, und
            das war die Idee, damit man einmal ein Gespür dafür hat, was
            eigentlich für eine Utopie in einem Platz steht, der im
            Quadratraster durch Wasser strukturiert ist.“
          </p>
        </div>
        <p class="color-scheme-text description-text">
          Zitat einer mitarbeitenden Person des musischen Zentrums der RUB
        </p>
      </div>

      <img
        src="Illustrationen/wasserrelief_b.png"
        class="img-fluid"
        alt="wasserrelief Illustration"
      />
    </div>
    <div class="col-12 col-md-6">
      <div class="text-container centered-text">
        <p>
          Wird das Wasserrelief also heute noch als Brunnen oder überhaupt als
          Kunstwerk wahrgenommen? Im Winter, während wir die Aufnahmen für
          dieses Projekt machen, liegt es verlassen auf dem Forumsplatz.
          Studierende beachten es gar nicht, während sie außen an den Seiten des
          Forums zwischen HZO, Bibliothek und Mensa hin und her laufen. Im
          Sommer jedoch kann man beobachten, wie die Stufen des Wasserreliefs
          genutzt werden, um in der Sonne zu sitzen und sich zu unterhalten.
          Einzig das Wasser, welches eigentlich in den Vertiefungen zwischen den
          Granitplatten plätschern sollte, fehlt.
        </p>
        <p>
          Man könnte also argumentieren, dass das Kunstwerk auch heute noch
          seine ursprüngliche Funktion als „Ort des Verweilens und des
          Austauschs“ (Honikel, 2015, S. 42) erfüllt, auch ohne dass Wasser
          durch die Vertiefungen fließt oder dass es als Kunst erkannt wird.
          Zudem kann man sich auch fragen, ob diese Wahrnehmung des
          Wasserreliefs als Kunst überhaupt so wichtig ist.
        </p>
        <p>
          Trotzdem bleibt die Frage, ob und wie man den ursprünglichen
          Utopiegedanken der Ruhr-Universität wieder mehr ins Bewusstsein holen
          kann, wie es sich einige unserer Interviewpartner*innen wünschen. Gibt
          es Möglichkeiten, Projekte wie den Bachlauf von Georg Penker oder das
          Wasserrelief wiederzubeleben? Oder kann man die ursprünglichen
          Konzepte der Werke auch in digitaler Form vermitteln? Vielleicht
          bietet ja genau diese Fragestellung auch einen Anstoß für neue
          Kunstprojekte auf dem Campus, wie in unserem Interview mit
          Mitarbeitenden des musischen Zentrums angeklungen ist.
        </p>
      </div>
    </div>
  </div>
</div>
